# Project Goal

In this project, you will build a proof of concept: A web application that showcases different movie recommendation algorithms.

# Import the relevant packages and libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.decomposition import NMF 
from sklearn.impute import KNNImputer

import pickle
import random
from sklearn.metrics.pairwise import cosine_similarity

# Load the datas

In [2]:
#load the movies table
movies = pd.read_csv('data/movies.csv')
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [3]:
#load the ratings table
ratings = pd.read_csv('data/ratings.csv')
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [4]:
#merge the tables in respect of movieId
ratings_movies = pd.merge(ratings,movies, how='left',on='movieId')

#save as csv file for further process
ratings_movies.to_csv('data/ratings_movies.csv', index=False)

ratings_movies.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [5]:
#check the missing values
ratings_movies.isna().sum()

userId       0
movieId      0
rating       0
timestamp    0
title        0
genres       0
dtype: int64

# Implement a simple recommender

In [6]:
#Calculate the average rating for each movie in the dataset
ratings_movies.groupby(['title'])[['rating']].mean().sort_values(by='rating',ascending=False).round(2)

                                         rating
title
Gena the Crocodile (1969)                   5.0
True Stories (1986)                         5.0
Cosmic Scrat-tastrophe (2015)               5.0
Love and Pigeons (1985)                     5.0
Red Sorghum (Hong gao liang) (1987)         5.0
...                                         ...
Don't Look Now (1973)                       0.5
Journey 2: The Mysterious Island (2012)     0.5
Joe Dirt 2: Beautiful Loser (2015)          0.5
Jesus Christ Vampire Hunter (2001)          0.5
Fullmetal Alchemist 2018 (2017)             0.5

[9719 rows x 1 columns]

In [7]:
#Filter out movies that have been watched by less than 20 users
movies_count = ratings_movies.groupby(['title'])[['movieId']].count()
less_than_20 = movies_count[movies_count['movieId']<20].sort_values(by='movieId')
less_than_20

                                           movieId
title
'71 (2014)                                       1
Lola Versus (2012)                               1
Lola Montès (1955)                               1
Logan Lucky (2017)                               1
Live Wire (1992)                                 1
...                                            ...
Virtuosity (1995)                               19
Grease 2 (1982)                                 19
Red Violin, The (Violon rouge, Le) (1998)       19
50/50 (2011)                                    19
Stuart Little (1999)                            19

[8422 rows x 1 columns]

In [8]:
#top ten movies by mean of ratings
ratings_movies.groupby('title')[['rating']].mean().sort_values(by='rating',ascending=False)[:10]

                                           rating
title
Gena the Crocodile (1969)                     5.0
True Stories (1986)                           5.0
Cosmic Scrat-tastrophe (2015)                 5.0
Love and Pigeons (1985)                       5.0
Red Sorghum (Hong gao liang) (1987)           5.0
Thin Line Between Love and Hate, A (1996)     5.0
Lesson Faust (1994)                           5.0
Eva (2011)                                    5.0
Who Killed Chea Vichea? (2010)                5.0
Siam Sunset (1999)                            5.0

In [9]:
#top ten movies by count of ratings
ratings_movies.groupby('title')[['rating']].count().sort_values(by='rating',ascending=False)[:10]

                                           rating
title
Forrest Gump (1994)                           329
Shawshank Redemption, The (1994)              317
Pulp Fiction (1994)                           307
Silence of the Lambs, The (1991)              279
Matrix, The (1999)                            278
Star Wars: Episode IV - A New Hope (1977)     251
Jurassic Park (1993)                          238
Braveheart (1995)                             237
Terminator 2: Judgment Day (1991)             224
Schindler's List (1993)                       220

In [10]:
#merge these two tables to find the best movies which were seen a large number of people
ratings_movies_best = pd.DataFrame(ratings_movies.groupby('title')[['rating']].mean().round(2))
ratings_movies_best['count_rating'] = ratings_movies.groupby('title')[['rating']].count()
ratings_movies_best.rename(columns={'rating':'mean_rating'}, inplace=True)
ratings_movies_best.sort_values(['count_rating','mean_rating'], ascending=False)[:10]

                                           mean_rating  count_rating
title
Forrest Gump (1994)                               4.16           329
Shawshank Redemption, The (1994)                  4.43           317
Pulp Fiction (1994)                               4.20           307
Silence of the Lambs, The (1991)                  4.16           279
Matrix, The (1999)                                4.19           278
Star Wars: Episode IV - A New Hope (1977)         4.23           251
Jurassic Park (1993)                              3.75           238
Braveheart (1995)                                 4.03           237
Terminator 2: Judgment Day (1991)                 3.97           224
Schindler's List (1993)                           4.22           220

In [11]:
#create a seen movie list for a given user
userId = 1
seen_movies_list = ratings_movies.loc[ratings_movies['userId'] == userId, :]['title'].to_list()

#create a best movie list which not seen by given userId
best_movie_list_not_seen = []
for i in ratings_movies_best.index.to_list():
    if i not in seen_movies_list:
        best_movie_list_not_seen.append(i)
    else:
        continue

In [12]:
#check the lists
len(best_movie_list_not_seen), len(seen_movies_list), len(ratings_movies_best)

(9487, 232, 9719)

In [13]:
#recommend the top ten movies that a user has not seen yet
ratings_movies_best.loc[best_movie_list_not_seen,:].sort_values(['count_rating','mean_rating'], ascending=False)[:10]

                                                    mean_rating  count_rating
title
Shawshank Redemption, The (1994)                           4.43           317
Terminator 2: Judgment Day (1991)                          3.97           224
Apollo 13 (1995)                                           3.85           201
Lord of the Rings: The Fellowship of the Ring, ...         4.11           198
Godfather, The (1972)                                      4.29           192
Lord of the Rings: The Two Towers, The (2002)              4.02           188
Lord of the Rings: The Return of the King, The ...         4.12           185
Aladdin (1992)                                             3.79           183
Sixth Sense, The (1999)                                    3.89           179
True Lies (1994)                                           3.50           178

In [14]:
movie_dict = pd.Series(ratings_movies.title, index=ratings_movies.movieId.values).to_dict()

In [15]:
def recommend_popular(query, ratings, k=10):
    '''The function gets a user query of rated movie-ids and the ratings table as input. It returns a list of k movie-ids.
    '''
    # 1.candidate generation
       
    # filter out movies that the user has already seen
    seen_movie_list = []
    for movie in query.keys():
        seen_movie_list.append(movie)
           
    # filter out movies that have been watched by less than 100 users
    ratings_2 = ratings.groupby('movieId')[['rating']].count()
    ratings_2 = ratings_2[ratings_2['rating'] >=100]
    movies_more_than_100 = ratings_2.index.to_list()
    
    #create a best movie list which have not seen before and watched by more than 100 users
    best_movie_list = []
    for i in movies_more_than_100:
        if i not in seen_movie_list:
            best_movie_list.append(i)
        else:
            continue
            
    ratings = ratings.reset_index().set_index('movieId')
    ratings_3 = ratings.loc[best_movie_list,:]
    
    # 2. scoring
    # calculate the average rating and wachted by users for each movie
    ratings_3 = ratings_3.reset_index()
    # merge them to a new dataframe
    ratings_4 =  pd.DataFrame(ratings_3.groupby('movieId')[['rating']].mean().round(2))
    ratings_4['count_rating'] = ratings_3.groupby('movieId')[['rating']].count()
    ratings_4.rename(columns={'rating':'mean_rating'}, inplace=True)
    
    # 3. ranking
    ratings_4.sort_values(['mean_rating','count_rating'], ascending=False)
    
    # return the top-k highest rated movie ids or titles
    return ratings_4.sort_values(['mean_rating','count_rating'], ascending=False)[:k]

In [16]:
#one recommend for given query
query = {12: 5, 234: 1}
recommend_popular(query,ratings_movies,k=5)

         mean_rating  count_rating
movieId
318             4.43           317
858             4.29           192
2959            4.27           218
1221            4.26           129
1213            4.25           126

# Collaborative Filtering with Non Negative Matrix Factorisation

## Fill the missing values

In [17]:
#pivot the ratings_movies table
ratings_movies_pivot = pd.pivot_table(ratings_movies, 
                                      index='userId', 
                                      columns='title', 
                                      values='rating'
                                     )
ratings_movies_pivot.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
user_list  = ratings_movies_pivot.index.to_list()
movie_list = ratings_movies_pivot.columns.to_list()

In [19]:
knn_imputer = KNNImputer(n_neighbors=2)

In [20]:
knn_imputer.fit_transform(ratings_movies_pivot).shape

(610, 9719)

In [21]:
ratings = pd.DataFrame(data=knn_imputer.fit_transform(ratings_movies_pivot), 
                       index=user_list, 
                       columns=movie_list
                      )

In [22]:
ratings.head()

,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
1,4.0,4.0,3.5,5.0,4.0,1.5,4.00,3.0,4.50,3.75,...,1.5,4.00,3.25,3.0,3.0,3.75,2.00,2.00,4.0,1.0
2,4.0,4.0,3.5,5.0,4.0,1.5,4.25,3.0,4.50,3.00,...,1.5,4.00,3.25,3.0,3.0,4.00,2.25,1.75,2.0,1.0
3,4.0,4.0,3.5,5.0,4.0,1.5,2.50,3.0,3.00,2.75,...,1.5,4.50,3.25,3.0,3.0,2.75,3.25,1.75,2.5,1.0
4,4.0,4.0,3.5,5.0,4.0,1.5,3.75,3.0,4.25,3.25,...,1.5,3.25,3.25,3.0,3.0,3.50,2.25,2.25,3.0,1.0
5,4.0,4.0,3.5,5.0,4.0,1.5,2.50,3.0,4.50,3.25,...,1.5,4.25,4.00,3.0,3.0,4.50,3.50,1.75,3.0,1.0

## Create a model

In [23]:
#determine the component number of model
genre = []
for i in ratings_movies.genres:
    for j in i.split("|"):
        if j not in genre:
            genre.append(j)
genre, len(genre)

(['Adventure',
  'Animation',
  'Children',
  'Comedy',
  'Fantasy',
  'Romance',
  'Action',
  'Crime',
  'Thriller',
  'Mystery',
  'Horror',
  'Drama',
  'War',
  'Western',
  'Sci-Fi',
  'Musical',
  'Film-Noir',
  'IMAX',
  'Documentary',
  '(no genres listed)'],
 20)

In [24]:
# determine the parameters of NMF model
nmf_model = NMF(n_components=20, init='nndsvda', max_iter=10000)

In [25]:
#fit the model on the full imputed user/movie dataframe/matrix
nmf_model.fit(ratings)

NMF(init='nndsvda', max_iter=10000, n_components=20)

In [26]:
# create movie feature matrix Q from the model components
Q_matrix = nmf_model.components_
Q_matrix.shape

(20, 9719)

In [27]:
features = []
for i in range(20):
    features.append(f'feature{i}')
    i += 1

In [28]:
#get the movie-feature dataframe Q
Q = pd.DataFrame(data=Q_matrix, 
                 index=features, 
                 columns=movie_list
                )
Q

,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
feature0,2.400814,2.400814,2.100712,3.001017,2.343763,0.900305,1.553042,1.800610,0.826383,1.956889,...,0.900305,1.893146,2.655900,1.800610,1.800610,2.570309,2.040509,1.315405,2.163994,0.600203
feature1,22.262092,22.262092,19.479330,27.827615,22.274522,8.348284,8.296811,16.696568,18.890661,14.355245,...,8.348284,21.898129,19.995896,16.696568,16.696568,14.605955,8.026870,8.025507,11.585124,5.565523
feature2,1.135844,1.135844,0.993864,1.419806,1.149269,0.425942,1.757259,0.851883,2.331970,0.904993,...,0.425942,1.109766,1.310077,0.851883,0.851883,0.494223,0.000000,0.981837,0.780994,0.283961
feature3,2.383502,2.383502,2.085565,2.979378,2.317426,0.893813,2.864978,1.787627,1.465574,3.540297,...,0.893813,1.555766,1.421468,1.787627,1.787627,1.221168,0.000000,0.793535,3.543914,0.595876
feature4,117.041744,117.041744,102.411525,146.302181,117.546400,43.890654,0.000000,87.781307,135.897454,94.468782,...,43.890654,151.697763,85.576494,87.781307,87.781307,74.915227,76.090648,50.949933,116.242665,29.260436
feature5,74.323790,74.323790,65.033314,92.904741,76.462746,27.871419,155.178387,55.742839,35.278478,60.568379,...,27.871419,177.307971,88.419511,55.742839,55.742839,0.000000,34.018258,47.203698,134.202723,18.580946
feature6,561.600584,561.600584,491.400504,702.000742,563.313981,210.600212,590.393886,421.200425,591.839084,1181.746561,...,210.600212,248.296483,659.770107,421.200425,421.200425,992.351008,909.945974,714.240369,664.366787,140.400141
feature7,3169.583430,3169.583430,2773.385468,3961.979346,3299.312646,1188.593755,8482.510722,2377.187511,4693.390181,777.958507,...,1188.593755,697.619222,3227.560246,2377.187511,2377.187511,1339.034466,6196.978667,2697.755314,1761.645668,792.395835
feature8,24.888901,24.888901,21.777787,31.111128,24.960366,9.333337,3.272621,18.666674,111.586797,32.858010,...,9.333337,52.132441,4.888976,18.666674,18.666674,5.568391,19.082158,5.810493,15.419266,6.222225
feature9,23.190055,23.190055,20.291297,28.987571,24.608759,8.696270,44.975130,17.392540,95.926765,41.944941,...,8.696270,25.558621,59.039854,17.392540,17.392540,10.720870,76.890157,9.301858,36.858929,5.797513
feature10,3.148856,3.148856,2.755248,3.936070,3.919592,1.180821,4.946173,2.361641,25.525890,9.660271,...,1.180821,16.224740,2.460503,2.361641,2.361641,3.469082,20.086381,4.862893,2.665448,0.787214
feature11,611.665482,611.665482,535.207269,764.581901,667.772336,229.374529,1024.242745,458.749060,73.838658,322.070108,...,229.374529,1628.423426,254.351933,458.749060,458.749060,1665.345949,685.483531,300.129645,1393.618091,152.916352
feature12,783.498954,783.498954,685.561547,979.373760,832.012484,293.812072,1087.994778,587.624146,59.253806,1671.488901,...,293.812072,1097.741326,193.835896,587.624146,587.624146,369.192767,1648.376917,0.000000,257.669895,195.874713
feature13,740.064454,740.064454,647.556341,925.080668,785.169843,277.524117,3227.966465,555.048237,5293.508062,0.000000,...,277.524117,2304.683440,1542.722229,555.048237,555.048237,2104.036343,1519.274647,331.567115,350.347297,185.016076
feature14,28.608547,28.608547,25.032477,35.760686,31.055660,10.728204,105.553588,21.456408,81.576483,64.213984,...,10.728204,46.024987,0.000000,21.456408,21.456408,15.149062,121.785386,0.000000,31.347277,7.152136
feature15,2.209919,2.209919,1.933679,2.762398,2.550592,0.828719,5.586399,1.657439,4.466139,2.834421,...,0.828719,4.851609,4.478566,1.657439,1.657439,2.958231,11.697307,1.607682,0.129148,0.552480
feature16,0.830996,0.830996,0.727122,1.038745,0.971586,0.311624,1.625365,0.623247,4.530691,1.090084,...,0.311624,0.000000,0.023716,0.623247,0.623247,0.806110,3.311615,1.374057,0.894871,0.207749
feature17,1.113514,1.113514,0.974325,1.391892,1.087028,0.417568,2.007436,0.835135,2.539855,0.404316,...,0.417568,1.644287,0.382739,0.835135,0.835135,1.029651,0.000000,1.177559,1.081636,0.278378
feature18,2.806477,2.806477,2.455667,3.508096,2.757787,1.052429,1.291969,2.104858,1.108232,1.936919,...,1.052429,2.525627,2.499373,2.104858,2.104858,3.370343,0.707249,1.060876,2.217157,0.701619
feature19,3.457715,3.457715,3.025501,4.322144,3.364553,1.296643,1.469249,2.593287,0.153639,2.172327,...,1.296643,2.103478,2.944744,2.593287,2.593287,3.415551,0.000000,1.505783,2.281287,0.864429

In [29]:
#create user feature matrix P
P_matrix = nmf_model.transform(ratings)
P_matrix.shape

(610, 20)

In [30]:
##get the user-feature dataframe P
P = pd.DataFrame(data=P_matrix, 
                 index=user_list, 
                 columns=features
                )
P.head()

,feature0,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,feature11,feature12,feature13,feature14,feature15,feature16,feature17,feature18,feature19
1,0.165295,0.006955,0.358474,0.125259,0.000511,0.002211,0.000003,0.000016,0.001826,0.002387,0.030759,0.000070,0.000056,0.000091,0.004968,0.000000,0.035669,0.117441,0.000000,0.524309
2,0.051450,0.004514,0.208436,0.063290,0.002877,0.000000,0.000137,0.000012,0.002380,0.003469,0.006078,0.000337,0.000123,0.000168,0.001949,0.026824,0.076671,0.036361,0.000000,0.616750
3,0.041558,0.033591,0.043592,0.000000,0.006041,0.001038,0.000000,0.000022,0.000000,0.000000,0.015028,0.000104,0.000257,0.000027,0.002909,0.001366,0.004896,0.000212,0.015296,0.519140
4,0.039489,0.024131,0.049475,0.074424,0.000617,0.001008,0.000000,0.000104,0.006840,0.003692,0.001855,0.000030,0.000040,0.000000,0.000000,0.023138,0.132915,0.134723,0.282022,0.360401
5,0.204985,0.024359,0.048121,0.010236,0.001495,0.001759,0.000024,0.000029,0.001662,0.001790,0.017878,0.000140,0.000026,0.000126,0.000489,0.027009,0.058488,0.219771,0.252701,0.308386

In [31]:
#reconstruct the ratings matrix
ratings_rec_matrix = np.dot(P_matrix,Q_matrix)
ratings_rec_matrix.shape

(610, 9719)

In [32]:
#get the ratings reconstructed dataframe
ratings_rec = pd.DataFrame(data=ratings_rec_matrix, index=user_list, columns=movie_list)
ratings_rec.round(2).head()

,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
1,4.00,4.00,3.50,5.00,4.00,1.5,4.06,3.00,4.16,3.51,...,1.5,4.10,3.50,3.00,3.00,3.41,2.45,2.11,3.40,1.0
2,4.00,4.00,3.50,5.00,4.01,1.5,3.52,3.00,3.72,3.26,...,1.5,3.96,3.52,3.00,3.00,4.09,2.49,1.99,3.32,1.0
3,4.01,4.01,3.51,5.02,4.01,1.5,2.42,3.01,2.64,3.22,...,1.5,4.01,3.25,3.01,3.01,3.36,2.22,1.70,2.97,1.0
4,4.00,4.00,3.50,5.00,4.00,1.5,3.38,3.00,3.90,3.00,...,1.5,3.50,3.43,3.00,3.00,3.40,2.45,2.02,3.07,1.0
5,4.00,4.00,3.50,5.01,4.00,1.5,3.43,3.00,3.97,2.94,...,1.5,4.33,3.64,3.00,3.00,3.96,2.59,2.09,3.23,1.0

In [33]:
#get the reconstructed error R and R^
nmf_model.reconstruction_err_

779.9410279811871

In [34]:
np.sqrt(np.square(abs(ratings - ratings_rec)).sum().sum())

779.9348303022867

## Save the model with pickle

In [35]:
binary = pickle.dumps(nmf_model)
print(binary)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [36]:
file = open('model/nmf_model.bin', mode='wb')
file.write(binary)
file.close()

# Recommendations for one user

In [37]:
new_user_query = { "'Til There Was You (1997)": 4,
                   "'Tis the Season for Love (2015)": 2,
                   "'burbs, The (1989)": 3,
                   "'night Mother (1986)": 5,
                   '(500) Days of Summer (2009)': 1}

In [38]:
def nmf_recommender(new_user_query, k_top=5):
    '''The function gets k-top movie recommadations for a given user matrix based on nmf model
    '''
    #get new_user-item dataframe with the previous dictionary
    new_user_ratings = pd.DataFrame(
                                    data=new_user_query,
                                    columns=movie_list, 
                                    index=['new_user']
                                   )
    #fill the missing value
    new_user_ratings_imputed = pd.DataFrame(
                                            data=knn_imputer.transform(new_user_ratings), 
                                            columns=movie_list, 
                                            index=['new_user']
                                           )
    #load the pickled model
    file = open('model/nmf_model.bin', mode='rb')
    binary = file.read()
    file.close()
    nmf_model = pickle.loads(binary)
    
    #create movie feature matrix Q
    Q_matrix = nmf_model.components_
    
    
    #create user feature matrix P
    P_new_user_matrix = nmf_model.transform(new_user_ratings_imputed)
    
    ##get the ratings reconstructed dataframe
    new_user_ratings_rec = pd.DataFrame(data=np.dot(P_new_user_matrix,Q_matrix),
                                    columns=new_user_ratings.columns,
                                    index=new_user_ratings.index.to_list()
                                       )
    #exclude the rated movies
    mask = new_user_ratings.T.isna()
    new_user_ratings_rec_2 = new_user_ratings_rec.T[mask].T
   
    #get top k rated movies
    recommend_list = new_user_ratings_rec_2.sort_values(new_user_ratings.index.to_list(), axis=1, ascending=False).T.index.to_list()[:k_top]
    
    #Create a loop to print the first k movies from the sorted movies list
    j=0
    print(f'The {k_top} most recommended movies are:\n')
    for item in recommend_list:
        print(j+1,item)
        j = j+1
        if j > k_top-1:
            break

In [39]:
nmf_recommender(new_user_query, k_top=5)

The 5 most recommended movies are:

1 Big Top Scooby-Doo! (2012)
2 Umberto D. (1952)
3 Decalogue, The (Dekalog) (1989)
4 On the Other Side of the Tracks (De l'autre côté du périph) (2012)
5 Tyler Perry's I Can Do Bad All by Myself (2009)

# Neighbourhood based Collaborative Filtering

## User based collaborative filter

In [40]:
#transpose the pivot table
user_based = ratings_movies_pivot.T
user_based.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
'Hellboy': The Seeds of Creation (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Round Midnight (1986),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Salem's Lot (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
#assign to 0 for unrated movies 
user_based_imputed = user_based.fillna(value=0)
user_based_imputed.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Salem's Lot (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Til There Was You (1997),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
#apply cosine similarity to create a similarity matrix
user_based_similarity_matrix = pd.DataFrame(cosine_similarity(user_based_imputed.T))

In [43]:
user_based_similarity_matrix

,0,1,2,3,4,5,6,7,8,9,...,600,601,602,603,604,605,606,607,608,609
0,1.000000,0.027283,0.059720,0.194395,0.129080,0.128152,0.158744,0.136968,0.064263,0.016875,...,0.080554,0.164455,0.221486,0.070669,0.153625,0.164191,0.269389,0.291097,0.093572,0.145321
1,0.027283,1.000000,0.000000,0.003726,0.016614,0.025333,0.027585,0.027257,0.000000,0.067445,...,0.202671,0.016866,0.011997,0.000000,0.000000,0.028429,0.012948,0.046211,0.027565,0.102427
2,0.059720,0.000000,1.000000,0.002251,0.005020,0.003936,0.000000,0.004941,0.000000,0.000000,...,0.005048,0.004892,0.024992,0.000000,0.010694,0.012993,0.019247,0.021128,0.000000,0.032119
3,0.194395,0.003726,0.002251,1.000000,0.128659,0.088491,0.115120,0.062969,0.011361,0.031163,...,0.085938,0.128273,0.307973,0.052985,0.084584,0.200395,0.131746,0.149858,0.032198,0.107683
4,0.129080,0.016614,0.005020,0.128659,1.000000,0.300349,0.108342,0.429075,0.000000,0.030611,...,0.068048,0.418747,0.110148,0.258773,0.148758,0.106435,0.152866,0.135535,0.261232,0.060792
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,0.164191,0.028429,0.012993,0.200395,0.106435,0.102123,0.200035,0.099388,0.075898,0.088963,...,0.178084,0.116534,0.300669,0.066032,0.148141,1.000000,0.153063,0.262558,0.069622,0.201104
606,0.269389,0.012948,0.019247,0.131746,0.152866,0.162182,0.186114,0.185142,0.011844,0.010451,...,0.092525,0.199910,0.203540,0.137834,0.118780,0.153063,1.000000,0.283081,0.149190,0.139114
607,0.291097,0.046211,0.021128,0.149858,0.135535,0.178809,0.323541,0.187233,0.100435,0.077424,...,0.158355,0.197514,0.232771,0.155306,0.178142,0.262558,0.283081,1.000000,0.121993,0.322055
608,0.093572,0.027565,0.000000,0.032198,0.261232,0.214234,0.090840,0.423993,0.000000,0.021766,...,0.035653,0.335231,0.061941,0.236601,0.097610,0.069622,0.149190,0.121993,1.000000,0.053225
609,0.145321,0.102427,0.032119,0.107683,0.060792,0.052668,0.193219,0.078153,0.074399,0.121072,...,0.222491,0.087528,0.163094,0.052552,0.119295,0.201104,0.139114,0.322055,0.053225,1.000000

In [44]:
#choose an active user
active_user = 5

In [45]:
#create a list of unseen movies for this user
unseen_mask = user_based[active_user].isna()

In [46]:
unseen_movies = user_based[unseen_mask].index
unseen_movies

Index([''71 (2014)', ''Hellboy': The Seeds of Creation (2004)',
       ''Round Midnight (1986)', ''Salem's Lot (2004)',
       ''Til There Was You (1997)', ''Tis the Season for Love (2015)',
       ''burbs, The (1989)', ''night Mother (1986)',
       '(500) Days of Summer (2009)', '*batteries not included (1987)',
       ...
       'Zulu (2013)', '[REC] (2007)', '[REC]² (2009)',
       '[REC]³ 3 Génesis (2012)',
       'anohana: The Flower We Saw That Day - The Movie (2013)',
       'eXistenZ (1999)', 'xXx (2002)', 'xXx: State of the Union (2005)',
       '¡Three Amigos! (1986)', 'À nous la liberté (Freedom for Us) (1931)'],
      dtype='object', name='title', length=9675)

In [47]:
#create a list of top 20 similar users
top_20_users = user_based_similarity_matrix[active_user].sort_values(ascending=False).index[1:21]
top_20_users

Int64Index([116, 180,  57, 239, 410,  42, 435, 558, 591, 135, 446, 583, 403,
            469, 283, 445, 173, 601, 320, 475],
           dtype='int64')

In [48]:
user_based_similarity_matrix

,0,1,2,3,4,5,6,7,8,9,...,600,601,602,603,604,605,606,607,608,609
0,1.000000,0.027283,0.059720,0.194395,0.129080,0.128152,0.158744,0.136968,0.064263,0.016875,...,0.080554,0.164455,0.221486,0.070669,0.153625,0.164191,0.269389,0.291097,0.093572,0.145321
1,0.027283,1.000000,0.000000,0.003726,0.016614,0.025333,0.027585,0.027257,0.000000,0.067445,...,0.202671,0.016866,0.011997,0.000000,0.000000,0.028429,0.012948,0.046211,0.027565,0.102427
2,0.059720,0.000000,1.000000,0.002251,0.005020,0.003936,0.000000,0.004941,0.000000,0.000000,...,0.005048,0.004892,0.024992,0.000000,0.010694,0.012993,0.019247,0.021128,0.000000,0.032119
3,0.194395,0.003726,0.002251,1.000000,0.128659,0.088491,0.115120,0.062969,0.011361,0.031163,...,0.085938,0.128273,0.307973,0.052985,0.084584,0.200395,0.131746,0.149858,0.032198,0.107683
4,0.129080,0.016614,0.005020,0.128659,1.000000,0.300349,0.108342,0.429075,0.000000,0.030611,...,0.068048,0.418747,0.110148,0.258773,0.148758,0.106435,0.152866,0.135535,0.261232,0.060792
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,0.164191,0.028429,0.012993,0.200395,0.106435,0.102123,0.200035,0.099388,0.075898,0.088963,...,0.178084,0.116534,0.300669,0.066032,0.148141,1.000000,0.153063,0.262558,0.069622,0.201104
606,0.269389,0.012948,0.019247,0.131746,0.152866,0.162182,0.186114,0.185142,0.011844,0.010451,...,0.092525,0.199910,0.203540,0.137834,0.118780,0.153063,1.000000,0.283081,0.149190,0.139114
607,0.291097,0.046211,0.021128,0.149858,0.135535,0.178809,0.323541,0.187233,0.100435,0.077424,...,0.158355,0.197514,0.232771,0.155306,0.178142,0.262558,0.283081,1.000000,0.121993,0.322055
608,0.093572,0.027565,0.000000,0.032198,0.261232,0.214234,0.090840,0.423993,0.000000,0.021766,...,0.035653,0.335231,0.061941,0.236601,0.097610,0.069622,0.149190,0.121993,1.000000,0.053225
609,0.145321,0.102427,0.032119,0.107683,0.060792,0.052668,0.193219,0.078153,0.074399,0.121072,...,0.222491,0.087528,0.163094,0.052552,0.119295,0.201104,0.139114,0.322055,0.053225,1.000000

In [49]:
#calculate the top-20 users average ratings
ratings_movies.set_index('userId').loc[top_20_users,:]['rating'].mean()

3.705345060893099

In [50]:
for movie in unseen_movies:
    others_user = user_based.columns[~user_based.loc[movie].isna()]
    others_user = set(others_user)
    for user in set(top_20_users).intersection(others_user):
        print(movie,user)

10 Things I Hate About You (1999) 583
12 Angry Men (1957) 601
12 Angry Men (1957) 135
13 Ghosts (1960) 116
1984 (Nineteen Eighty-Four) (1984) 469
2 Days in the Valley (1996) 57
20 Dates (1998) 42
20,000 Leagues Under the Sea (1916) 116
2001: A Space Odyssey (1968) 57
2001: A Space Odyssey (1968) 42
2001: A Space Odyssey (1968) 469
2001: A Space Odyssey (1968) 239
2010: The Year We Make Contact (1984) 57
2010: The Year We Make Contact (1984) 42
2010: The Year We Make Contact (1984) 469
2012 (2009) 601
28 Days (2000) 320
28 Days (2000) 42
28 Days (2000) 558
28 Days Later (2002) 239
300 (2007) 239
3000 Miles to Graceland (2001) 558
3:10 to Yuma (2007) 239
40-Year-Old Virgin, The (2005) 239
40-Year-Old Virgin, The (2005) 116
40-Year-Old Virgin, The (2005) 445
40-Year-Old Virgin, The (2005) 583
400 Blows, The (Les quatre cents coups) (1959) 410
400 Blows, The (Les quatre cents coups) (1959) 469
50 First Dates (2004) 583
8 1/2 (8½) (1963) 410
8 Seconds (1994) 42
8MM (1999) 42
8MM (1999) 135
A.I. Artificial Intelligence (2001) 475
A.I. Artificial Intelligence (2001) 239
Abbott and Costello Meet Frankenstein (1948) 410
Above the Law (1988) 42
Absolute Power (1997) 135
Abyss, The (1989) 57
Abyss, The (1989) 42
Abyss, The (1989) 469
Abyss, The (1989) 591
Ace Ventura: When Nature Calls (1995) 42
Ace Ventura: When Nature Calls (1995) 475
Addams Family, The (1991) 57
Addams Family, The (1991) 283
Addams Family, The (1991) 469
Addams Family, The (1991) 135
Addicted to Love (1997) 283
Adventures in Babysitting (1987) 410
Adventures of Baron Munchausen, The (1988) 135
Adventures of Buckaroo Banzai Across the 8th Dimension, The (1984) 57
Adventures of Buckaroo Banzai Across the 8th Dimension, The (1984) 469
Adventures of Robin Hood, The (1938) 57
Affair of Love, An (Liaison pornographique, Une) (1999) 410
African Queen, The (1951) 57
Air America (1990) 42
Air Force One (1997) 57
Air Force One (1997) 42
Air Up There, The (1994) 42
Airheads (1994) 42
Airplane II: The Sequel (1982) 135
Airplane! (1980) 57
Airplane! (1980) 42
Airplane! (1980) 469
Airplane! (1980) 135
Akira (1988) 57
Akira (1988) 469
Alice in Wonderland (1951) 57
Alien (1979) 239
Alien (1979) 469
Alien (1979) 135
Alien: Resurrection (1997) 57
Alien: Resurrection (1997) 469
Alien: Resurrection (1997) 135
Aliens (1986) 57
Aliens (1986) 239
Aliens (1986) 469
Aliens (1986) 135
Alien³ (a.k.a. Alien 3) (1992) 57
Alien³ (a.k.a. Alien 3) (1992) 469
Alien³ (a.k.a. Alien 3) (1992) 135
Alive (1993) 135
All About Eve (1950) 469
All About My Mother (Todo sobre mi madre) (1999) 410
Almost Famous (2000) 445
Almost Famous (2000) 591
Always (1989) 42
Amadeus (1984) 239
Amadeus (1984) 116
Amadeus (1984) 469
Amadeus (1984) 135
Amazing Spider-Man, The (2012) 475
Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001) 445
American Beauty (1999) 135
American Beauty (1999) 239
American Beauty (1999) 469
American Beauty (1999) 57
American Beauty (1999) 410
American Gangster (2007) 239
American Graffiti (1973) 410
American Graffiti (1973) 469
American History X (1998) 42
American History X (1998) 403
American History X (1998) 239
American Ninja (1985) 42
American Pie (1999) 583
American Pie (1999) 135
American Pie (1999) 42
American Pie (1999) 591
American Pie (1999) 239
American Pie (1999) 57
American Pie 2 (2001) 239
American President, The (1995) 42
American President, The (1995) 239
American President, The (1995) 469
American President, The (1995) 57
American President, The (1995) 410
American President, The (1995) 446
American Psycho (2000) 42
American Tail, An (1986) 239
American Werewolf in London, An (1981) 180
Anaconda (1997) 57
Anaconda (1997) 42
Analyze This (1999) 42
Anastasia (1997) 57
Anastasia (1997) 583
Anatomy of a Murder (1959) 469
Angels in the Outfield (1994) 42
Animal House (1978) 469
Annie Hall (1977) 469
Annie Hall (1977) 445
Annie Hall (1977) 135
Another Stakeout (1993) 42
Antz (1998) 42
Any Given Sunday (1999) 42
Apartment, The (1960) 469
Apocalypse Now (1979) 57
Apocalypse Now (1979) 469
Apocalypse Now (1979) 239
Apostle, The (1997) 135
Appleseed (Appurushîdo) (2004) 320
Apt Pupil (1998) 135
Arachnophobia (1990) 469
Arachnophobia (1990) 239
Arlington Road (1999) 42
Arlington Road (1999) 135
Armageddon (1998) 601
Armageddon (1998) 239
Armageddon (1998) 469
Armageddon (1998) 135
Army of Darkness (1993) 469
Army of Darkness (1993) 135
Arrival, The (1996) 57
Arrival, The (1996) 469
Arsenic and Old Lace (1944) 57
Arsenic and Old Lace (1944) 469
As Good as It Gets (1997) 57
As Good as It Gets (1997) 42
As Good as It Gets (1997) 469
Assassins (1995) 239
Astronaut's Wife, The (1999) 42
Atlantis: The Lost Empire (2001) 475
Austin Powers: International Man of Mystery (1997) 135
Austin Powers: International Man of Mystery (1997) 42
Austin Powers: International Man of Mystery (1997) 57
Austin Powers: International Man of Mystery (1997) 410
Austin Powers: International Man of Mystery (1997) 283
Austin Powers: The Spy Who Shagged Me (1999) 135
Austin Powers: The Spy Who Shagged Me (1999) 42
Austin Powers: The Spy Who Shagged Me (1999) 591
Austin Powers: The Spy Who Shagged Me (1999) 239
Austin Powers: The Spy Who Shagged Me (1999) 116
Austin Powers: The Spy Who Shagged Me (1999) 469
Austin Powers: The Spy Who Shagged Me (1999) 57
Autumn in New York (2000) 42
Autumn in New York (2000) 558
Avatar (2009) 320
Avatar (2009) 601
Avatar (2009) 475
Avengers, The (2012) 601
Avengers, The (2012) 475
Avengers: Age of Ultron (2015) 475
Awakenings (1990) 57
Babylon A.D. (2008) 239
Back to School (1986) 42
Back to the Future (1985) 42
Back to the Future (1985) 116
Back to the Future (1985) 469
Back to the Future (1985) 57
Back to the Future (1985) 475
Back to the Future Part II (1989) 42
Back to the Future Part II (1989) 475
Back to the Future Part II (1989) 239
Back to the Future Part III (1990) 475
Backdraft (1991) 57
Backdraft (1991) 403
Backdraft (1991) 239
Bad Lieutenant (1992) 57
Bananas (1971) 469
Band of Brothers (2001) 601
Bangkok Dangerous (2008) 403
Barbarella (1968) 57
Barcelona (1994) 57
Barefoot in the Park (1967) 469
Basic Instinct (1992) 57
Basquiat (1996) 57
Batman & Robin (1997) 57
Batman & Robin (1997) 116
Batman & Robin (1997) 469
Batman & Robin (1997) 135
Batman Begins (2005) 239
Batman Begins (2005) 435
Batman Begins (2005) 601
Batman Begins (2005) 475
Batman Begins (2005) 445
Batman Returns (1992) 57
Batman Returns (1992) 469
Batman Returns (1992) 135
Batman: Mask of the Phantasm (1993) 135
Battlefield Earth (2000) 57
Beach, The (2000) 558
Beautician and the Beast, The (1997) 42
Beautiful Girls (1996) 558
Beautiful Mind, A (2001) 601
Beautiful Mind, A (2001) 445
Beauty of the Day (Belle de jour) (1967) 410
Bedazzled (2000) 42
Beetlejuice (1988) 57
Beetlejuice (1988) 410
Beetlejuice (1988) 116
Beetlejuice (1988) 469
Being Human (1993) 42
Being John Malkovich (1999) 135
Being John Malkovich (1999) 42
Being John Malkovich (1999) 591
Being John Malkovich (1999) 469
Being John Malkovich (1999) 57
Being John Malkovich (1999) 410
Being There (1979) 410
Being There (1979) 469
Ben-Hur (1959) 57
Ben-Hur (1959) 469
Beneath the Planet of the Apes (1970) 57
Benny & Joon (1993) 57
Best Years of Our Lives, The (1946) 57
Best in Show (2000) 410
Best in Show (2000) 135
Better Off Dead... (1985) 57
Better Off Dead... (1985) 469
Beverly Hills Cop (1984) 42
Beverly Hills Cop (1984) 239
Beverly Hills Cop (1984) 135
Beverly Hills Cop II (1987) 42
Beverly Hills Cop II (1987) 135
Beverly Hills Cop III (1994) 42
Beverly Hills Cop III (1994) 135
Beverly Hills Ninja (1997) 42
Beyond the Mat (1999) 135
Bicycle Thieves (a.k.a. The Bicycle Thief) (a.k.a. The Bicycle Thieves) (Ladri di biciclette) (1948) 410
Big (1988) 239
Big (1988) 116
Big (1988) 469
Big (1988) 57
Big (1988) 410
Big Chill, The (1983) 410
Big Chill, The (1983) 42
Big Daddy (1999) 42
Big Daddy (1999) 435
Big Daddy (1999) 591
Big Daddy (1999) 583
Big Fish (2003) 239
Big Hero 6 (2014) 601
Big Hit, The (1998) 57
Big Lebowski, The (1998) 469
Big Lebowski, The (1998) 583
Big Lebowski, The (1998) 135
Big Momma's House (2000) 42
Big Night (1996) 57
Big Sleep, The (1946) 57
Big Top Pee-Wee (1988) 42
Big Trouble in Little China (1986) 57
Big Trouble in Little China (1986) 135
Bill & Ted's Excellent Adventure (1989) 239
Bill & Ted's Excellent Adventure (1989) 435
Bill & Ted's Excellent Adventure (1989) 135
Billy Madison (1995) 435
Billy Madison (1995) 583
Bio-Dome (1996) 57
Bio-Dome (1996) 135
Bird on a Wire (1990) 57
Birdcage, The (1996) 135
Birdcage, The (1996) 42
Birdcage, The (1996) 173
Birdcage, The (1996) 57
Birdcage, The (1996) 283
Birdcage, The (1996) 446
Birds, The (1963) 469
Birthday Girl (2001) 558
Black Beauty (1994) 57
Black Cat, White Cat (Crna macka, beli macor) (1998) 410
Black Hawk Down (2001) 239
Black Hole, The (1979) 469
Black Sabbath (Tre volti della paura, I) (1963) 469
Blade (1998) 239
Blade (1998) 135
Blade Runner (1982) 239
Blade Runner (1982) 116
Blade Runner (1982) 469
Blade Runner (1982) 57
Blade Runner (1982) 445
Blade Runner 2049 (2017) 601
Blair Witch Project, The (1999) 445
Blazing Saddles (1974) 57
Blazing Saddles (1974) 410
Blazing Saddles (1974) 469
Blind Date (1987) 42
Blood Diamond (2006) 239
Blood Simple (1984) 469
Blow-Up (Blowup) (1966) 469
Blue Chips (1994) 42
Blue Velvet (1986) 135
Blues Brothers, The (1980) 57
Blues Brothers, The (1980) 410
Blues Brothers, The (1980) 469
Blues Brothers, The (1980) 135
Bob Roberts (1992) 410
Body Heat (1981) 57
Bodyguard, The (1992) 42
Boiler Room (2000) 42
Bone Collector, The (1999) 42
Bone Collector, The (1999) 591
Bone Collector, The (1999) 135
Bonnie and Clyde (1967) 410
Boogie Nights (1997) 57
Boogie Nights (1997) 42
Boogie Nights (1997) 239
Boomerang (1992) 42
Boondock Saints, The (2000) 239
Boot, Das (Boat, The) (1981) 469
Booty Call (1997) 57
Booty Call (1997) 42
Booty Call (1997) 135
Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan (2006) 239

Born on the Fourth of July (1989) 42
Born on the Fourth of July (1989) 239
Bounce (2000) 42
Bounce (2000) 410
Bound (1996) 57
Bourne Identity, The (2002) 475
Bourne Identity, The (2002) 239
Bourne Supremacy, The (2004) 475
Bourne Supremacy, The (2004) 239
Bourne Ultimatum, The (2007) 601
Bourne Ultimatum, The (2007) 475
Bourne Ultimatum, The (2007) 445
Bourne Ultimatum, The (2007) 239
Bowfinger (1999) 57
Bowfinger (1999) 410
Bowfinger (1999) 42
Bowfinger (1999) 591
Bowling for Columbine (2002) 239
Boxing Helena (1993) 410
Boxing Helena (1993) 135
Boys Don't Cry (1999) 42
Boys Don't Cry (1999) 469
Boys Don't Cry (1999) 591
Boyz N the Hood (1991) 239
Brady Bunch Movie, The (1995) 446
Brave (2012) 601
Brazil (1985) 469
Brazil (1985) 135
Breakdown (1997) 57
Breakdown (1997) 469
Breaker Morant (1980) 57
Breakfast Club, The (1985) 135
Breakfast Club, The (1985) 42
Breakfast Club, The (1985) 558
Breakfast Club, The (1985) 469
Breakfast Club, The (1985) 57
Bridge on the River Kwai, The (1957) 57
Bridge on the River Kwai, The (1957) 469
Bridget Jones's Diary (2001) 410
Bright Lights, Big City (1988) 42
Brighton Beach Memoirs (1986) 469
Bring It On (2000) 42
Bring It On (2000) 583
Bringing Up Baby (1938) 57
Bringing Up Baby (1938) 410
Bringing Up Baby (1938) 469
Broadcast News (1987) 410
Broadcast News (1987) 469
Brokedown Palace (1999) 42
Broken Arrow (1996) 57
Broken Arrow (1996) 42
Broken Arrow (1996) 446
Broken Arrow (1996) 239
Bronco Billy (1980) 469
Brothers McMullen, The (1995) 42
Buffy the Vampire Slayer (1992) 42
Buffy the Vampire Slayer (1992) 135
Bug's Life, A (1998) 239
Bug's Life, A (1998) 591
Bug's Life, A (1998) 469
Bug's Life, A (1998) 601
Bug's Life, A (1998) 57
Bull Durham (1988) 42
Bull Durham (1988) 403
Bull Durham (1988) 469
Bull Durham (1988) 57
Bull Durham (1988) 410
Bullets Over Broadway (1994) 410
Bulworth (1998) 42
Bulworth (1998) 135
Burn After Reading (2008) 403
Butch Cassidy and the Sundance Kid (1969) 57
Butch Cassidy and the Sundance Kid (1969) 469
Cable Guy, The (1996) 42
Cable Guy, The (1996) 475
Caddyshack (1980) 42
Caddyshack (1980) 180
Caddyshack (1980) 469
Caddyshack (1980) 57
Caddyshack (1980) 410
Canadian Bacon (1995) 135
Candidate, The (1972) 469
Cannonball Run, The (1981) 42
Cannonball Run, The (1981) 135
Cape Fear (1991) 42
Cape Fear (1991) 135
Captain America: Civil War (2016) 475
Captain America: The First Avenger (2011) 475
Carlito's Way (1993) 57
Casablanca (1942) 135
Casablanca (1942) 42
Casablanca (1942) 601
Casablanca (1942) 469
Casablanca (1942) 57
Casablanca (1942) 410
Casino (1995) 42
Casino (1995) 446
Casino (1995) 239
Casino Royale (2006) 601
Casper (1995) 57
Casper (1995) 435
Cast Away (2000) 42
Cast Away (2000) 239
Cast Away (2000) 445
Cast Away (2000) 135
Casualties of War (1989) 42
Catch Me If You Can (2002) 601
Catch Me If You Can (2002) 239
Catch-22 (1970) 42
Caveman's Valentine, The (2001) 558
Center of the World, The (2001) 410
Changing Lanes (2002) 558
Charade (1963) 57
Chariots of Fire (1981) 469
Charlie's Angels (2000) 42
Charlie's Angels (2000) 239
Chasing Amy (1997) 135
Chicken Run (2000) 475
Children of Men (2006) 445
Children of Men (2006) 239
Chinatown (1974) 57
Chinatown (1974) 410
Chinatown (1974) 469
Chinatown (1974) 239
Chocolat (2000) 410
Christmas Story, A (1983) 57
Christmas Story, A (1983) 42
Christmas Story, A (1983) 469
Christmas Story, A (1983) 135
Christmas Vacation (National Lampoon's Christmas Vacation) (1989) 42
Chronicles of Narnia: Prince Caspian, The (2008) 475
Chronicles of Narnia: The Lion, the Witch and the Wardrobe, The (2005) 475
Chronicles of Narnia: The Lion, the Witch and the Wardrobe, The (2005) 239
Chronicles of Riddick, The (2004) 475
Cinema Paradiso (Nuovo cinema Paradiso) (1989) 410
Citizen Kane (1941) 57
Citizen Kane (1941) 410
Citizen Kane (1941) 469
City Slickers (1991) 410
City Slickers (1991) 42
City Slickers II: The Legend of Curly's Gold (1994) 42
City of Angels (1998) 42
City of God (Cidade de Deus) (2002) 601
City of God (Cidade de Deus) (2002) 445
City of Lost Children, The (Cité des enfants perdus, La) (1995) 469
Civil Action, A (1998) 42
Clean Slate (1994) 42
Clerks (1994) 135
Clerks (1994) 42
Clerks (1994) 558
Clerks (1994) 591
Clerks (1994) 469
Clerks (1994) 446
Client, The (1994) 42
Client, The (1994) 116
Client, The (1994) 446
Cliffhanger (1993) 57
Cliffhanger (1993) 42
Cliffhanger (1993) 446
Clockwork Orange, A (1971) 135
Clockwork Orange, A (1971) 239
Clockwork Orange, A (1971) 469
Clockwork Orange, A (1971) 57
Clockwork Orange, A (1971) 410
Close Encounters of the Third Kind (1977) 57
Close Encounters of the Third Kind (1977) 469
Cloverfield (2008) 239
Clue (1985) 469
Cocktail (1988) 42
Coco (2017) 601
Cocoon (1985) 57
Cocoon (1985) 42
Cocoon (1985) 469
Cocoon (1985) 135
Cold Comfort Farm (1995) 57
Cold Comfort Farm (1995) 469
Collateral (2004) 239
Colonel Chabert, Le (1994) 410
Color of Night (1994) 42
Coming to America (1988) 42
Con Air (1997) 57
Con Air (1997) 42
Con Air (1997) 239
Con Air (1997) 135
Conan the Barbarian (1982) 469
Coneheads (1993) 469
Congo (1995) 57
Congo (1995) 116
Congo (1995) 446
Conquest of the Planet of the Apes (1972) 57
Conspiracy Theory (1997) 135
Conspiracy Theory (1997) 42
Conspiracy Theory (1997) 116
Conspiracy Theory (1997) 469
Conspiracy Theory (1997) 57
Constantine (2005) 475
Contact (1997) 135
Contact (1997) 239
Contact (1997) 469
Contact (1997) 601
Contact (1997) 57
Conversation, The (1974) 410
Conversation, The (1974) 469
Cook the Thief His Wife & Her Lover, The (1989) 410
Cool Hand Luke (1967) 57
Cool Hand Luke (1967) 410
Cool Hand Luke (1967) 116
Cool Hand Luke (1967) 469
Cool Runnings (1993) 42
Copycat (1995) 42
Corrina, Corrina (1994) 410
Courage Under Fire (1996) 42
Cowboy Bebop: The Movie (Cowboy Bebop: Tengoku no Tobira) (2001) 320
Coyote Ugly (2000) 558
Crash (1996) 135
Creature Comforts (1989) 57
Crimes and Misdemeanors (1989) 469
Crimson Tide (1995) 42
Crimson Tide (1995) 116
Crimson Tide (1995) 135
Crocodile Dundee (1986) 57
Crocodile Dundee (1986) 239
Crocodile Dundee (1986) 469
Crocodile Dundee (1986) 135
Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000) 239
Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000) 116
Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000) 135
Crow, The (1994) 42
Crow, The (1994) 239
Cruel Intentions (1999) 42
Cruel Intentions (1999) 591
Cruel Intentions (1999) 583
Crumb (1994) 57
Crush, The (1993) 57
Crying Game, The (1992) 57
Crying Game, The (1992) 42
Cube (1997) 57
Cyrano de Bergerac (1990) 57
Da Vinci Code, The (2006) 239
Dancer in the Dark (2000) 410
Dangerous Liaisons (1988) 135
Dark City (1998) 57
Dark City (1998) 180
Dark City (1998) 469
Dark Crystal, The (1982) 57
Dark Crystal, The (1982) 180
Dark Knight Rises, The (2012) 601
Dark Knight Rises, The (2012) 475
Dark Knight, The (2008) 435
Dark Knight, The (2008) 445
Dark Knight, The (2008) 475
Dark Knight, The (2008) 239
Dave (1993) 57
Dave (1993) 469
Dave (1993) 446
Dave (1993) 239
Day After Tomorrow, The (2004) 239
Day the Earth Stood Still, The (1951) 469
Daylight (1996) 469
Days of Thunder (1990) 57
Days of Thunder (1990) 42
Days of Thunder (1990) 469
Dazed and Confused (1993) 469
Dead Again (1991) 57
Dead Man on Campus (1998) 42
Dead Men Don't Wear Plaid (1982) 42
Dead Men Don't Wear Plaid (1982) 469
Dead Poets Society (1989) 42
Dead Poets Society (1989) 239
Dead Zone, The (1983) 135
Deadpool (2016) 475
Death Becomes Her (1992) 57
Death Race (2008) 403
Deep Blue Sea (1999) 42
Deep Blue Sea (1999) 591
Deep Impact (1998) 42
Deep Impact (1998) 469
Deep Impact (1998) 135
Deer Hunter, The (1978) 469
Defending Your Life (1991) 469
Defending Your Life (1991) 135
Deliverance (1972) 42
Deliverance (1972) 403
Deliverance (1972) 469
Demolition Man (1993) 57
Demolition Man (1993) 42
Demolition Man (1993) 446
Departed, The (2006) 601
Departed, The (2006) 435
Departed, The (2006) 239
Desperado (1995) 42
Desperado (1995) 435
Desperado (1995) 239
Desperately Seeking Susan (1985) 42
Despicable Me (2010) 475
Deuce Bigalow: Male Gigolo (1999) 42
Devil in a Blue Dress (1995) 410
Devil's Own, The (1997) 42
Dial M for Murder (1954) 469
Dick (1999) 57
Dick Tracy (1990) 57
Die Hard (1988) 135
Die Hard (1988) 42
Die Hard (1988) 239
Die Hard (1988) 116
Die Hard (1988) 469
Die Hard (1988) 57
Die Hard 2 (1990) 57
Die Hard 2 (1990) 42
Die Hard 2 (1990) 469
Die Hard 2 (1990) 135
Die Hard: With a Vengeance (1995) 135
Die Hard: With a Vengeance (1995) 42
Die Hard: With a Vengeance (1995) 116
Die Hard: With a Vengeance (1995) 475
Die Hard: With a Vengeance (1995) 446
Diner (1982) 57
Dinosaur (2000) 591
Dirty Dancing (1987) 42
Dirty Dancing (1987) 116
Dirty Dancing (1987) 583
Dirty Dozen, The (1967) 239
Disclosure (1994) 42
Dish, The (2001) 410
Distinguished Gentleman, The (1992) 42
District 13 (Banlieue 13) (2004) 320
District 9 (2009) 601
District 9 (2009) 475
Divergent (2014) 475
Django Unchained (2012) 601
Doctor Strange (2016) 475
Doctor Zhivago (1965) 57
Dog Day Afternoon (1975) 410
Dog Day Afternoon (1975) 469
Dogma (1999) 135
Dogma (1999) 42
Dogma (1999) 558
Dogma (1999) 239
Dogma (1999) 410
Don Juan DeMarco (1995) 57
Don Juan DeMarco (1995) 446
Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996) 283
Don't Tell Mom the Babysitter's Dead (1991) 42
Donnie Brasco (1997) 42
Donnie Brasco (1997) 469
Donnie Brasco (1997) 239
Donnie Darko (2001) 445
Donnie Darko (2001) 239
Doors, The (1991) 42

Double Indemnity (1944) 57
Double Jeopardy (1999) 239
Down Periscope (1996) 42
Down to Earth (2001) 42
Downfall (Untergang, Der) (2004) 445
Dr. No (1962) 57
Dr. No (1962) 469
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964) 469
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964) 57
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964) 410
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964) 445
Dracula (Bram Stoker's Dracula) (1992) 42
Dracula (Bram Stoker's Dracula) (1992) 116
Dragonfly (2002) 558
Dragonheart (1996) 57
Dreamscape (1984) 469
Drop Zone (1994) 57
Drop Zone (1994) 42
Duck Soup (1933) 57
Duets (2000) 57
Dumb & Dumber (Dumb and Dumber) (1994) 135
Dumb & Dumber (Dumb and Dumber) (1994) 42
Dumb & Dumber (Dumb and Dumber) (1994) 239
Dumb & Dumber (Dumb and Dumber) (1994) 116
Dumb & Dumber (Dumb and Dumber) (1994) 446
Dumbo (1941) 116
Dune (1984) 57
Dune (1984) 180
Dune (1984) 469
Dunkirk (2017) 601
E.T. the Extra-Terrestrial (1982) 42
E.T. the Extra-Terrestrial (1982) 469
E.T. the Extra-Terrestrial (1982) 558
E.T. the Extra-Terrestrial (1982) 135
Eagle Eye (2008) 403
East is East (1999) 410
Easy A (2010) 601
Easy A (2010) 583
Easy Money (1983) 469
Ed Wood (1994) 57
Ed Wood (1994) 410
Ed Wood (1994) 446
Eddie Murphy Raw (1987) 42
Edge of Tomorrow (2014) 475
Edward Scissorhands (1990) 57
Eight Men Out (1988) 42
Election (1999) 57
Election (1999) 469
Election (1999) 135
Elephant Man, The (1980) 469
Elizabeth (1998) 57
Elysium (2013) 475
Emma (1996) 57
Emma (1996) 469
Emperor's New Groove, The (2000) 583
Enemy at the Gates (2001) 239
Enemy of the State (1998) 135
Enemy of the State (1998) 42
Enemy of the State (1998) 239
Enemy of the State (1998) 435
Enemy of the State (1998) 469
Enemy of the State (1998) 57
Enemy of the State (1998) 475
English Patient, The (1996) 57
English Patient, The (1996) 116
Englishman Who Went Up a Hill But Came Down a Mountain, The (1995) 410
Englishman Who Went Up a Hill But Came Down a Mountain, The (1995) 42
Enough (2002) 558
Entrapment (1999) 57
Entrapment (1999) 42
Entrapment (1999) 116
Entrapment (1999) 135
Equilibrium (2002) 239
Eraser (1996) 57
Eraser (1996) 239
Erin Brockovich (2000) 42
Erin Brockovich (2000) 239
Erin Brockovich (2000) 591
Escape from L.A. (1996) 57
Escape from New York (1981) 57
Escape from New York (1981) 469
Escape from New York (1981) 135
Escape to Witch Mountain (1975) 135
Eternal Sunshine of the Spotless Mind (2004) 601
Eternal Sunshine of the Spotless Mind (2004) 403
Eternal Sunshine of the Spotless Mind (2004) 435
Eternal Sunshine of the Spotless Mind (2004) 445
Event Horizon (1997) 57
Event Horizon (1997) 469
Everything You Always Wanted to Know About Sex * But Were Afraid to Ask (1972) 469
Everything You Always Wanted to Know About Sex * But Were Afraid to Ask (1972) 135
Evil Dead II (Dead by Dawn) (1987) 403
Evil Dead II (Dead by Dawn) (1987) 180
Evil Dead II (Dead by Dawn) (1987) 469
Evil Dead II (Dead by Dawn) (1987) 135
Evita (1996) 57
Evolution (2001) 475
Ex Machina (2015) 475
Excalibur (1981) 469
Excalibur (1981) 239
Executive Decision (1996) 57
Exit to Eden (1994) 57
Exit to Eden (1994) 42
Exorcist, The (1973) 469
Eye of the Beholder (1999) 591
Eyes Wide Shut (1999) 42
Eyes Wide Shut (1999) 435
Eyes Wide Shut (1999) 591
Eyes of Laura Mars (1978) 469
F/X (1986) 469
F/X (1986) 135
F/X2 (a.k.a. F/X 2 - The Deadly Art of Illusion) (1991) 42
Face/Off (1997) 57
Face/Off (1997) 42
Face/Off (1997) 239
Face/Off (1997) 135
Fahrenheit 9/11 (2004) 239
Fallen (1998) 469
Fallen (1998) 135
Falling Down (1993) 57
Falling Down (1993) 469
Falling Down (1993) 135
Family Man, The (2000) 239
Fan, The (1996) 42
Fantasia (1940) 57
Fantasia 2000 (1999) 57
Fantastic Four (2005) 475
Fantastic Four: Rise of the Silver Surfer (2007) 475
Far and Away (1992) 57
Far and Away (1992) 42
Fast Times at Ridgemont High (1982) 42
Fast Times at Ridgemont High (1982) 403
Fast Times at Ridgemont High (1982) 180
Fast Times at Ridgemont High (1982) 469
Fast and the Furious, The (2001) 475
Fatal Attraction (1987) 42
Fatal Attraction (1987) 135
Fear (1996) 558
Fear and Loathing in Las Vegas (1998) 57
Fear and Loathing in Las Vegas (1998) 469
Femme Nikita, La (Nikita) (1990) 57
Ferris Bueller's Day Off (1986) 57
Ferris Bueller's Day Off (1986) 42
Ferris Bueller's Day Off (1986) 469
Ferris Bueller's Day Off (1986) 239
Few Good Men, A (1992) 57
Few Good Men, A (1992) 42
Few Good Men, A (1992) 469
Few Good Men, A (1992) 239
Field of Dreams (1989) 42
Fierce Creatures (1997) 57
Fifth Element, The (1997) 239
Fifth Element, The (1997) 469
Fifth Element, The (1997) 601
Fifth Element, The (1997) 475
Fifth Element, The (1997) 57
Fight Club (1999) 135
Fight Club (1999) 42
Fight Club (1999) 591
Fight Club (1999) 239
Fight Club (1999) 435
Fight Club (1999) 180
Fight Club (1999) 601
Fight Club (1999) 445
Fighting Seabees, The (1944) 57
Final Destination (2000) 591
Final Fantasy: The Spirits Within (2001) 475
Finding Forrester (2000) 410
Finding Nemo (2003) 601
Finding Nemo (2003) 475
Finding Nemo (2003) 239
Firestarter (1984) 135
Firm, The (1993) 469
Firm, The (1993) 446
Firm, The (1993) 239
First Blood (Rambo: First Blood) (1982) 57
First Blood (Rambo: First Blood) (1982) 469
First Knight (1995) 42
First Knight (1995) 446
First Strike (Police Story 4: First Strike) (Ging chaat goo si 4: Ji gaan daan yam mo) (1996) 57
First Strike (Police Story 4: First Strike) (Ging chaat goo si 4: Ji gaan daan yam mo) (1996) 135
Fish Called Wanda, A (1988) 57
Fish Called Wanda, A (1988) 410
Fish Called Wanda, A (1988) 42
Fish Called Wanda, A (1988) 469
Fisher King, The (1991) 57
Fisher King, The (1991) 410
Fisher King, The (1991) 469
Fistful of Dollars, A (Per un pugno di dollari) (1964) 57
Fistful of Dollars, A (Per un pugno di dollari) (1964) 469
Five Easy Pieces (1970) 469
Flatliners (1990) 57
Flesh and Bone (1993) 469
Fletch (1985) 42
Fletch Lives (1989) 42
Flight of the Navigator (1986) 239
Flintstones, The (1994) 57
Fly II, The (1989) 469
Fly, The (1958) 469
Fly, The (1986) 469
Fly, The (1986) 135
Flying Tigers (1942) 57
Fools Rush In (1997) 42
Footloose (1984) 42
For Love of the Game (1999) 42
For Love of the Game (1999) 591
For Roseanna (Roseanna's Grave) (1997) 57
For Whom the Bell Tolls (1943) 57
For Your Eyes Only (1981) 57
For Your Eyes Only (1981) 42
For Your Eyes Only (1981) 469
For a Few Dollars More (Per qualche dollaro in più) (1965) 57
For a Few Dollars More (Per qualche dollaro in più) (1965) 469
Forbidden Planet (1956) 469
Forever Young (1992) 57
Forever Young (1992) 42
Forever Young (1992) 469
Forget Paris (1995) 446
Forgetting Sarah Marshall (2008) 403
Forrest Gump (1994) 583
Forrest Gump (1994) 42
Forrest Gump (1994) 173
Forrest Gump (1994) 591
Forrest Gump (1994) 239
Forrest Gump (1994) 116
Forrest Gump (1994) 57
Forrest Gump (1994) 283
Forrest Gump (1994) 445
Forrest Gump (1994) 446
Frailty (2001) 558
Free Enterprise (1998) 57
French Connection, The (1971) 57
French Connection, The (1971) 469
French Kiss (1995) 42
French Kiss (1995) 446
Frequency (2000) 435
Frequency (2000) 591
Friday (1995) 57
Friday (1995) 283
Friday the 13th Part 2 (1981) 42
Friday the 13th Part 3: 3D (1982) 42
Friends with Benefits (2011) 583
From Dusk Till Dawn (1996) 57
From Dusk Till Dawn (1996) 283
From Dusk Till Dawn (1996) 469
From Russia with Love (1963) 469
Frozen (2013) 583
Full Metal Jacket (1987) 42
Full Metal Jacket (1987) 558
Full Metal Jacket (1987) 239
Full Metal Jacket (1987) 469
Full Metal Jacket (1987) 57
Full Monty, The (1997) 57
Full Monty, The (1997) 42
Full Monty, The (1997) 283
Funny Bones (1995) 57
Funny Farm (1988) 42
Galaxy Quest (1999) 57
Galaxy Quest (1999) 135
Game, The (1997) 42
Game, The (1997) 239
Game, The (1997) 469
Game, The (1997) 135
Gandhi (1982) 116
Gattaca (1997) 135
Gattaca (1997) 42
Gattaca (1997) 239
Gattaca (1997) 469
Gattaca (1997) 57
General's Daughter, The (1999) 42
General, The (1926) 57
General, The (1926) 469
Get Carter (2000) 42
Getaway, The (1994) 42
Ghost (1990) 135
Ghost (1990) 173
Ghost (1990) 239
Ghost (1990) 57
Ghost (1990) 283
Ghost (1990) 446
Ghost and the Darkness, The (1996) 57
Ghostbusters (a.k.a. Ghost Busters) (1984) 42
Ghostbusters (a.k.a. Ghost Busters) (1984) 591
Ghostbusters (a.k.a. Ghost Busters) (1984) 239
Ghostbusters (a.k.a. Ghost Busters) (1984) 116
Ghostbusters (a.k.a. Ghost Busters) (1984) 469
Ghostbusters (a.k.a. Ghost Busters) (1984) 57
Ghostbusters (a.k.a. Ghost Busters) (1984) 475
Ghostbusters II (1989) 180
Gifted (2017) 601
Girl 6 (1996) 42
Girl with the Dragon Tattoo, The (Män som hatar kvinnor) (2009) 601
Girl, Interrupted (1999) 42
Girl, Interrupted (1999) 558
Gladiator (1992) 239
Gladiator (2000) 320
Gladiator (2000) 135
Gladiator (2000) 42
Gladiator (2000) 591
Gladiator (2000) 601
Gladiator (2000) 239
Gladiator (2000) 435
Gladiator (2000) 116
Gladiator (2000) 57
Gladiator (2000) 475

Glory (1989) 57
Glory (1989) 180
Go (1999) 57
Go (1999) 42
Godfather, The (1972) 135
Godfather, The (1972) 42
Godfather, The (1972) 239
Godfather, The (1972) 601
Godfather, The (1972) 435
Godfather, The (1972) 116
Godfather, The (1972) 469
Godfather, The (1972) 57
Godfather: Part II, The (1974) 42
Godfather: Part II, The (1974) 239
Godfather: Part II, The (1974) 435
Godfather: Part II, The (1974) 469
Godfather: Part II, The (1974) 601
Godfather: Part II, The (1974) 57
Godfather: Part III, The (1990) 42
Godfather: Part III, The (1990) 239
Godfather: Part III, The (1990) 435
Godfather: Part III, The (1990) 469
Godfather: Part III, The (1990) 57
Gods Must Be Crazy, The (1980) 57
Gods Must Be Crazy, The (1980) 410
Gods Must Be Crazy, The (1980) 469
Godzilla (1998) 57
Golden Child, The (1986) 42
Golden Child, The (1986) 135
Golden Compass, The (2007) 475
GoldenEye (1995) 42
GoldenEye (1995) 173
GoldenEye (1995) 469
GoldenEye (1995) 57
GoldenEye (1995) 446
Goldfinger (1964) 57
Goldfinger (1964) 469
Gone Girl (2014) 601
Gone in 60 Seconds (2000) 239
Gone in 60 Seconds (2000) 42
Gone in 60 Seconds (2000) 475
Gone in 60 Seconds (2000) 591
Gone with the Wind (1939) 57
Gone with the Wind (1939) 116
Gone with the Wind (1939) 469
Good Morning, Vietnam (1987) 410
Good Morning, Vietnam (1987) 42
Good Morning, Vietnam (1987) 239
Good Will Hunting (1997) 42
Good Will Hunting (1997) 239
Good Will Hunting (1997) 116
Good Will Hunting (1997) 469
Good Will Hunting (1997) 601
Good Will Hunting (1997) 283
Good Will Hunting (1997) 57
Good, the Bad and the Ugly, The (Buono, il brutto, il cattivo, Il) (1966) 57
Good, the Bad and the Ugly, The (Buono, il brutto, il cattivo, Il) (1966) 469
Goodbye Girl, The (1977) 469
Goodfellas (1990) 135
Goodfellas (1990) 42
Goodfellas (1990) 239
Goodfellas (1990) 403
Goodfellas (1990) 180
Goodfellas (1990) 469
Goofy Movie, A (1995) 583
Goonies, The (1985) 57
Graduate, The (1967) 469
Graduate, The (1967) 410
Graduate, The (1967) 116
Graduate, The (1967) 445
Gran Torino (2008) 445
Grand Budapest Hotel, The (2014) 445
Grand Canyon (1991) 410
Grand Day Out with Wallace and Gromit, A (1989) 57
Grand Illusion (La grande illusion) (1937) 410
Grapes of Wrath, The (1940) 469
Gray's Anatomy (1996) 410
Grease (1978) 116
Grease (1978) 583
Great Escape, The (1963) 601
Great Escape, The (1963) 469
Great Outdoors, The (1988) 42
Green Mile, The (1999) 469
Green Mile, The (1999) 239
Gremlins 2: The New Batch (1990) 135
Grifters, The (1990) 57
Grifters, The (1990) 469
Grosse Pointe Blank (1997) 42
Grosse Pointe Blank (1997) 469
Grosse Pointe Blank (1997) 57
Grosse Pointe Blank (1997) 410
Grosse Pointe Blank (1997) 283
Groundhog Day (1993) 135
Groundhog Day (1993) 42
Groundhog Day (1993) 239
Groundhog Day (1993) 469
Groundhog Day (1993) 57
Groundhog Day (1993) 283
Grumpier Old Men (1995) 116
Grumpier Old Men (1995) 410
Grumpier Old Men (1995) 42
Grumpy Old Men (1993) 410
Grumpy Old Men (1993) 42
Guardians of the Galaxy (2014) 601
Guardians of the Galaxy (2014) 475
Guardians of the Galaxy 2 (2017) 601
Guardians of the Galaxy 2 (2017) 475
Hancock (2008) 475
Hang 'Em High (1968) 57
Hangover, The (2009) 583
Happiness (1998) 410
Happy Gilmore (1996) 583
Happy Gilmore (1996) 42
Happy Gilmore (1996) 239
Happy Gilmore (1996) 57
Happy Gilmore (1996) 283
Hard-Boiled (Lat sau san taam) (1992) 469
Harold and Maude (1971) 410
Harold and Maude (1971) 469
Harry Potter and the Chamber of Secrets (2002) 475
Harry Potter and the Chamber of Secrets (2002) 239
Harry Potter and the Deathly Hallows: Part 1 (2010) 601
Harry Potter and the Deathly Hallows: Part 1 (2010) 475
Harry Potter and the Deathly Hallows: Part 2 (2011) 475
Harry Potter and the Goblet of Fire (2005) 475
Harry Potter and the Goblet of Fire (2005) 445
Harry Potter and the Goblet of Fire (2005) 239
Harry Potter and the Half-Blood Prince (2009) 475
Harry Potter and the Order of the Phoenix (2007) 475
Harry Potter and the Order of the Phoenix (2007) 239
Harry Potter and the Prisoner of Azkaban (2004) 475
Harry Potter and the Prisoner of Azkaban (2004) 239
Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001) 239
Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001) 475
Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001) 445
Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001) 135
Harvey (1950) 410
Haunting, The (1963) 469
Hear My Song (1991) 469
Heart and Souls (1993) 57
Heartbreak Ridge (1986) 57
Heartbreak Ridge (1986) 469
Heat (1995) 57
Heat (1995) 469
Heat (1995) 239
Heathers (1989) 57
Heathers (1989) 42
Heathers (1989) 469
Heaven Can Wait (1978) 469
Heavy Metal (1981) 57
Heavy Metal (1981) 469
Help, The (2011) 601
High Fidelity (2000) 42
High Fidelity (2000) 469
High Fidelity (2000) 135
High Noon (1952) 57
High Plains Drifter (1973) 57
High Plains Drifter (1973) 469
Highlander (1986) 57
Highlander (1986) 469
His Girl Friday (1940) 57
History of the World: Part I (1981) 57
History of the World: Part I (1981) 469
Hitch (2005) 475
Hitch (2005) 583
Hollywood Knights, The (1980) 469
Holy Man (1998) 42
Home Alone (1990) 42
Home Alone (1990) 173
Home Alone (1990) 116
Home Alone (1990) 475
Home Alone (1990) 283
Home Alone (1990) 446
Honey, I Shrunk the Kids (1989) 57
Honey, I Shrunk the Kids (1989) 116
Honey, I Shrunk the Kids (1989) 469
Honeymoon in Vegas (1992) 57
Hook (1991) 57
Hook (1991) 135
Hoosiers (a.k.a. Best Shot) (1986) 135
Horrible Bosses 2 (2014) 583
Hot Shots! Part Deux (1993) 42
Hot Shots! Part Deux (1993) 135
Hotel Rwanda (2004) 116
House Party (1990) 57
House Party 2 (1991) 57
House of Games (1987) 410
House of Games (1987) 135
House on Haunted Hill (1999) 591
How the Grinch Stole Christmas (a.k.a. The Grinch) (2000) 583
How to Train Your Dragon (2010) 601
How to Train Your Dragon (2010) 445
How to Train Your Dragon (2010) 583
Howard the Duck (1986) 469
Howards End (1992) 57
Howl's Moving Castle (Hauru no ugoku shiro) (2004) 601
Howl's Moving Castle (Hauru no ugoku shiro) (2004) 475
Hudsucker Proxy, The (1994) 57
Hudsucker Proxy, The (1994) 469
Hulk (2003) 475
Hunchback of Notre Dame, The (1996) 57
Hunt for Red October, The (1990) 135
Hunt for Red October, The (1990) 42
Hunt for Red October, The (1990) 239
Hunt for Red October, The (1990) 469
Hunt for Red October, The (1990) 57
Hurricane, The (1999) 469
Hush (1998) 558
Hustler, The (1961) 410
I Am Legend (2007) 475
I Am Legend (2007) 239
I Know What You Did Last Summer (1997) 42
I Love Trouble (1994) 42
I'm Gonna Git You Sucka (1988) 135
I, Robot (2004) 475
I, Robot (2004) 445
I, Robot (2004) 239
I.Q. (1994) 42
Ice Age (2002) 475
Ice Age (2002) 239
Ice Age 2: The Meltdown (2006) 475
Ice Storm, The (1997) 410
Ideal Husband, An (1999) 57
Illusionist, The (2006) 239
In & Out (1997) 57
In & Out (1997) 42
In & Out (1997) 135
In the Army Now (1994) 57
In the Bedroom (2001) 558
In the Heat of the Night (1967) 469
Inception (2010) 601
Inception (2010) 435
Inception (2010) 445
Inconvenient Truth, An (2006) 239
Incredible Hulk, The (2008) 475
Incredibles, The (2004) 601
Incredibles, The (2004) 475
Incredibles, The (2004) 239
Independence Day (a.k.a. ID4) (1996) 135
Independence Day (a.k.a. ID4) (1996) 42
Independence Day (a.k.a. ID4) (1996) 239
Independence Day (a.k.a. ID4) (1996) 116
Independence Day (a.k.a. ID4) (1996) 469
Independence Day (a.k.a. ID4) (1996) 57
Independence Day (a.k.a. ID4) (1996) 445
Independence Day (a.k.a. ID4) (1996) 446
Indiana Jones and the Kingdom of the Crystal Skull (2008) 475
Indiana Jones and the Last Crusade (1989) 135
Indiana Jones and the Last Crusade (1989) 239
Indiana Jones and the Last Crusade (1989) 403
Indiana Jones and the Last Crusade (1989) 116
Indiana Jones and the Last Crusade (1989) 469
Indiana Jones and the Last Crusade (1989) 57
Indiana Jones and the Last Crusade (1989) 475
Indiana Jones and the Temple of Doom (1984) 135
Indiana Jones and the Temple of Doom (1984) 42
Indiana Jones and the Temple of Doom (1984) 239
Indiana Jones and the Temple of Doom (1984) 116
Indiana Jones and the Temple of Doom (1984) 469
Indiana Jones and the Temple of Doom (1984) 57
Indiana Jones and the Temple of Doom (1984) 475
Inglourious Basterds (2009) 601
Inglourious Basterds (2009) 445
Inherit the Wind (1960) 469
Inside Man (2006) 239
Inside Out (2015) 601
Insider, The (1999) 410
Insider, The (1999) 403
Insider, The (1999) 469
Insomnia (2002) 558
Interiors (1978) 469
Interstellar (2014) 601
Interstellar (2014) 475
Intouchables (2011) 475
Intouchables (2011) 445
Invasion of the Body Snatchers (1956) 469
Inventing the Abbotts (1997) 57
Invention of Lying, The (2009) 583
Iron Eagle (1986) 469
Iron Giant, The (1999) 57
Iron Giant, The (1999) 403
Iron Giant, The (1999) 180
Iron Giant, The (1999) 591
Iron Man (2008) 320
Iron Man (2008) 601
Iron Man (2008) 475
Iron Man (2008) 239
Iron Man 2 (2010) 475
Island of Dr. Moreau, The (1996) 57
Island of Dr. Moreau, The (1996) 42
It Could Happen to You (1994) 42
It's a Wonderful Life (1946) 601
Italian Job, The (2003) 445
Italian Job, The (2003) 239
JFK (1991) 57
JFK (1991) 403
Jackal, The (1997) 42
Jackass: The Movie (2002) 320
Jackie Brown (1997) 42
Jackie Brown (1997) 469
Jacob's Ladder (1990) 135
Jagged Edge (1985) 135
Jakob the Liar (1999) 591
Jawbreaker (1999) 42
Jaws (1975) 116
Jaws (1975) 469
Jaws (1975) 135
Jaws 2 (1978) 57
Jaws 2 (1978) 469
Jaws 3-D (1983) 469
Jean de Florette (1986) 410
Jeffrey (1995) 57
Jeffrey (1995) 173
Jerk, The (1979) 57
Jerry Maguire (1996) 42
Jerry Maguire (1996) 283
Jerry Maguire (1996) 116
Jerry Maguire (1996) 135
Jewel of the Nile, The (1985) 57
Jewel of the Nile, The (1985) 239
Joe's Apartment (1996) 135
Johnny Be Good (1988) 42
Johnny Mnemonic (1995) 446
Joy Luck Club, The (1993) 57
Judge Dredd (1995) 42
Jumanji (1995) 475
Jumanji (1995) 446
Jumanji (1995) 135
Jumper (2008) 475
Jumpin' Jack Flash (1986) 135
Jungle Book, The (1967) 469
Jungle Fever (1991) 57
Jungle2Jungle (a.k.a. Jungle 2 Jungle) (1997) 42
Junior (1994) 446
Jurassic Park (1993) 135
Jurassic Park (1993) 173
Jurassic Park (1993) 239
Jurassic Park (1993) 116
Jurassic Park (1993) 469
Jurassic Park (1993) 57
Jurassic Park (1993) 446
Jurassic Park III (2001) 135
Just Cause (1995) 42
K-9 (1989) 135
Karate Kid, Part II, The (1986) 42
Karate Kid, Part II, The (1986) 469
Karate Kid, The (1984) 42
Karate Kid, The (1984) 403
Kaspar Hauser (1993) 410
Kazaam (1996) 57
Kelly's Heroes (1970) 57
Kentucky Fried Movie, The (1977) 469

Key Largo (1948) 57
Key Largo (1948) 410
Kids in the Hall: Brain Candy (1996) 135
Kill Bill: Vol. 1 (2003) 435
Kill Bill: Vol. 1 (2003) 239
Kill Bill: Vol. 2 (2004) 435
Kill Bill: Vol. 2 (2004) 239
Killing Fields, The (1984) 116
Killing Fields, The (1984) 469
Killing, The (1956) 469
King Kong (1933) 469
King's Speech, The (2010) 601
Kingpin (1996) 42
Kingpin (1996) 283
Kingpin (1996) 180
Kingpin (1996) 135
Kiss Kiss Bang Bang (2005) 239
Kiss of the Dragon (2001) 320
Kiss the Girls (1997) 57
Knocked Up (2007) 239
Kung Fu Panda (2008) 475
L.A. Confidential (1997) 57
L.A. Confidential (1997) 42
L.A. Confidential (1997) 469
L.A. Story (1991) 57
Labyrinth (1986) 135
Lady Eve, The (1941) 57
Lady and the Tramp (1955) 57
Lady and the Tramp (1955) 116
Ladyhawke (1985) 57
Ladyhawke (1985) 558
Ladyhawke (1985) 135
Lake Placid (1999) 42
Lara Croft Tomb Raider: The Cradle of Life (2003) 475
Lara Croft: Tomb Raider (2001) 42
Lara Croft: Tomb Raider (2001) 475
Last Action Hero (1993) 57
Last Action Hero (1993) 42
Last Action Hero (1993) 435
Last Action Hero (1993) 135
Last Detail, The (1973) 469
Last Dragon, The (1985) 42
Last Man Standing (1996) 42
Last Picture Show, The (1971) 469
Last Samurai, The (2003) 445
Last Samurai, The (2003) 239
Laura (1944) 57
Laura (1944) 410
Lawnmower Man, The (1992) 469
Lawrence of Arabia (1962) 57
Lawrence of Arabia (1962) 469
League of Their Own, A (1992) 135
League of Their Own, A (1992) 42
League of Their Own, A (1992) 469
League of Their Own, A (1992) 57
League of Their Own, A (1992) 410
Leaving Las Vegas (1995) 446
Legend (1985) 469
Legend of Bagger Vance, The (2000) 410
Lethal Weapon (1987) 135
Lethal Weapon (1987) 42
Lethal Weapon (1987) 116
Lethal Weapon (1987) 469
Lethal Weapon (1987) 57
Lethal Weapon 2 (1989) 135
Lethal Weapon 2 (1989) 42
Lethal Weapon 2 (1989) 239
Lethal Weapon 2 (1989) 469
Lethal Weapon 2 (1989) 57
Lethal Weapon 3 (1992) 135
Lethal Weapon 3 (1992) 42
Lethal Weapon 3 (1992) 435
Lethal Weapon 3 (1992) 116
Lethal Weapon 3 (1992) 57
Lethal Weapon 4 (1998) 42
Lethal Weapon 4 (1998) 283
Lethal Weapon 4 (1998) 135
Liar Liar (1997) 42
Liar Liar (1997) 469
Liar Liar (1997) 239
Licence to Kill (1989) 57
Licence to Kill (1989) 42
Life Is Beautiful (La Vita è bella) (1997) 135
Life Is Beautiful (La Vita è bella) (1997) 601
Life Is Beautiful (La Vita è bella) (1997) 469
Life Is Beautiful (La Vita è bella) (1997) 57
Life Is Beautiful (La Vita è bella) (1997) 445
Life as a House (2001) 239
Life with Mikey (1993) 42
Lifeboat (1944) 57
Lifeboat (1944) 469
Lion in Winter, The (1968) 445
Little Big Man (1970) 469
Little Mermaid, The (1989) 57
Little Mermaid, The (1989) 42
Little Mermaid, The (1989) 469
Little Miss Sunshine (2006) 601
Little Miss Sunshine (2006) 583
Little Shop of Horrors (1986) 42
Little Shop of Horrors (1986) 469
Little Shop of Horrors (1986) 135
Little Voice (1998) 57
Live and Let Die (1973) 469
Living Daylights, The (1987) 42
Living Out Loud (1998) 469
Loaded Weapon 1 (National Lampoon's Loaded Weapon 1) (1993) 57
Loaded Weapon 1 (National Lampoon's Loaded Weapon 1) (1993) 42
Loaded Weapon 1 (National Lampoon's Loaded Weapon 1) (1993) 469
Local Hero (1983) 469
Lock, Stock & Two Smoking Barrels (1998) 239
Logan (2017) 475
Logan's Run (1976) 469
Lolita (1962) 469
Long Kiss Goodnight, The (1996) 57
Look Who's Talking (1989) 42
Look Who's Talking (1989) 135
Lord of War (2005) 239
Lord of the Rings: The Fellowship of the Ring, The (2001) 135
Lord of the Rings: The Fellowship of the Ring, The (2001) 558
Lord of the Rings: The Fellowship of the Ring, The (2001) 239
Lord of the Rings: The Fellowship of the Ring, The (2001) 180
Lord of the Rings: The Fellowship of the Ring, The (2001) 601
Lord of the Rings: The Fellowship of the Ring, The (2001) 475
Lord of the Rings: The Fellowship of the Ring, The (2001) 445
Lord of the Rings: The Return of the King, The (2003) 601
Lord of the Rings: The Return of the King, The (2003) 475
Lord of the Rings: The Return of the King, The (2003) 445
Lord of the Rings: The Return of the King, The (2003) 239
Lord of the Rings: The Two Towers, The (2002) 601
Lord of the Rings: The Two Towers, The (2002) 475
Lord of the Rings: The Two Towers, The (2002) 445
Lord of the Rings: The Two Towers, The (2002) 239
Lost Boys, The (1987) 135
Lost Highway (1997) 469
Lost Horizon (1937) 469
Lost World: Jurassic Park, The (1997) 57
Lost World: Jurassic Park, The (1997) 116
Lost World: Jurassic Park, The (1997) 469
Lost World: Jurassic Park, The (1997) 135
Lost in America (1985) 410
Lost in Space (1998) 57
Lost in Space (1998) 42
Lost in Space (1998) 469
Love Actually (2003) 239
Love Actually (2003) 583
Love Potion #9 (1992) 42
Love and Death (1975) 469
Lucky Number Slevin (2006) 239
Léon: The Professional (a.k.a. The Professional) (Léon) (1994) 469
Léon: The Professional (a.k.a. The Professional) (Léon) (1994) 239
Léon: The Professional (a.k.a. The Professional) (Léon) (1994) 445
Léon: The Professional (a.k.a. The Professional) (Léon) (1994) 135
M (1931) 410
M (1931) 469
M*A*S*H (a.k.a. MASH) (1970) 57
M*A*S*H (a.k.a. MASH) (1970) 469
Mad City (1997) 42
Mad Max (1979) 469
Mad Max Beyond Thunderdome (1985) 57
Mad Max Beyond Thunderdome (1985) 135
Mad Max: Fury Road (2015) 475
Madagascar: Escape 2 Africa (2008) 320
Madness of King George, The (1994) 57
Madonna: Truth or Dare (1991) 42
Magnolia (1999) 57
Magnolia (1999) 469
Magnolia (1999) 591
Major League (1989) 42
Major Payne (1995) 135
Malice (1993) 42
Mallrats (1995) 403
Mallrats (1995) 135
Maltese Falcon, The (1941) 57
Maltese Falcon, The (1941) 410
Maltese Falcon, The (1941) 469
Man Who Knew Too Little, The (1997) 42
Man Who Wasn't There, The (2001) 135
Man Who Would Be King, The (1975) 57
Man Who Would Be King, The (1975) 469
Man of Steel (2013) 475
Man on Fire (2004) 239
Man on the Moon (1999) 469
Man on the Moon (1999) 591
Man with Two Brains, The (1983) 469
Man with the Golden Gun, The (1974) 57
Man with the Golden Gun, The (1974) 469
Manchurian Candidate, The (1962) 410
Manchurian Candidate, The (1962) 469
Manhattan (1979) 469
Manhattan (1979) 445
Mannequin (1987) 42
Manon of the Spring (Manon des sources) (1986) 410
Marathon Man (1976) 469
Marnie (1964) 469
Mars Attacks! (1996) 57
Mars Attacks! (1996) 42
Mars Attacks! (1996) 135
Mary Poppins (1964) 57
Mary Poppins (1964) 469
Mary Shelley's Frankenstein (Frankenstein) (1994) 446
Mask of Zorro, The (1998) 57
Mask of Zorro, The (1998) 475
Mask of Zorro, The (1998) 116
Matrix Reloaded, The (2003) 475
Matrix Reloaded, The (2003) 239
Matrix Revolutions, The (2003) 475
Matrix Revolutions, The (2003) 239
Matrix, The (1999) 135
Matrix, The (1999) 42
Matrix, The (1999) 591
Matrix, The (1999) 601
Matrix, The (1999) 239
Matrix, The (1999) 180
Matrix, The (1999) 469
Matrix, The (1999) 57
Matrix, The (1999) 475
Matrix, The (1999) 445
Maverick (1994) 42
Maverick (1994) 446
Maverick (1994) 591
Me Myself I (2000) 42
Me, Myself & Irene (2000) 42
Me, Myself & Irene (2000) 475
Mean Girls (2004) 583
Mediterraneo (1991) 57
Meet the Parents (2000) 410
Meet the Parents (2000) 42
Meet the Parents (2000) 135
Megamind (2010) 475
Memento (2000) 601
Memento (2000) 135
Men in Black (a.k.a. MIB) (1997) 135
Men in Black (a.k.a. MIB) (1997) 42
Men in Black (a.k.a. MIB) (1997) 239
Men in Black (a.k.a. MIB) (1997) 469
Men in Black (a.k.a. MIB) (1997) 475
Men in Black (a.k.a. MIB) (1997) 57
Men in Black (a.k.a. MIB) (1997) 283
Men in Black II (a.k.a. MIIB) (a.k.a. MIB 2) (2002) 475
Men in Black II (a.k.a. MIIB) (a.k.a. MIB 2) (2002) 239
Men of Honor (2000) 42
Message in a Bottle (1999) 42
Meteor (1979) 469
Metropolis (1927) 469
Michael Collins (1996) 57
Mickey Blue Eyes (1999) 42
Midnight Cowboy (1969) 469
Midnight Run (1988) 57
Midnight Run (1988) 42
Midnight Run (1988) 469
Midnight Run (1988) 135
Midnight in the Garden of Good and Evil (1997) 57
Mighty Aphrodite (1995) 57
Mighty Aphrodite (1995) 410
Mighty Ducks, The (1992) 283
Mighty Joe Young (1998) 57
Milk Money (1994) 42
Miller's Crossing (1990) 42
Mimic (1997) 57
Minority Report (2002) 601
Minority Report (2002) 239
Misery (1990) 469
Missing in Action 2: The Beginning (1985) 469
Mission: Impossible (1996) 135
Mission: Impossible (1996) 42
Mission: Impossible (1996) 239
Mission: Impossible (1996) 469
Mission: Impossible (1996) 57
Mission: Impossible (1996) 446
Mission: Impossible II (2000) 239
Mission: Impossible II (2000) 591
Mission: Impossible II (2000) 135
Mississippi Burning (1988) 135
Mod Squad, The (1999) 42
Mod Squad, The (1999) 558
Modern Times (1936) 469
Money Pit, The (1986) 42
Money Train (1995) 239
Monsieur Verdoux (1947) 57
Monsters University (2013) 475
Monsters, Inc. (2001) 601
Monsters, Inc. (2001) 475
Monsters, Inc. (2001) 558
Monsters, Inc. (2001) 239
Monty Python and the Holy Grail (1975) 135
Monty Python and the Holy Grail (1975) 239
Monty Python and the Holy Grail (1975) 601
Monty Python and the Holy Grail (1975) 180
Monty Python and the Holy Grail (1975) 469
Monty Python and the Holy Grail (1975) 57
Monty Python and the Holy Grail (1975) 445
Monty Python's And Now for Something Completely Different (1971) 57
Monty Python's And Now for Something Completely Different (1971) 469
Monty Python's Life of Brian (1979) 239
Monty Python's Life of Brian (1979) 469
Monty Python's Life of Brian (1979) 57
Monty Python's Life of Brian (1979) 410
Monty Python's Life of Brian (1979) 445
Monty Python's The Meaning of Life (1983) 239
Moonraker (1979) 57
Moonraker (1979) 469
Moonstruck (1987) 116
Moonstruck (1987) 469
Mortal Kombat (1995) 469
Mother Night (1996) 135
Mothman Prophecies, The (2002) 558
Moulin Rouge (2001) 558
Mr. & Mrs. Smith (2005) 239
Mr. Nice Guy (Yat goh ho yan) (1997) 57
Mr. Nice Guy (Yat goh ho yan) (1997) 469
Mr. Saturday Night (1992) 57
Mrs. Brown (a.k.a. Her Majesty, Mrs. Brown) (1997) 57
Mrs. Doubtfire (1993) 173
Mrs. Doubtfire (1993) 116
Mrs. Doubtfire (1993) 57
Mrs. Doubtfire (1993) 283
Mrs. Doubtfire (1993) 446
Much Ado About Nothing (1993) 57
Much Ado About Nothing (1993) 446
Mulan (1998) 57
Mulan (1998) 583
Mulholland Falls (1996) 57
Mulholland Falls (1996) 410
Mummy, The (1999) 57
Mummy, The (1999) 475
Mummy, The (1999) 116
Munich (2005) 239
Muppet Christmas Carol, The (1992) 57
Muppet Movie, The (1979) 57
Muppet Movie, The (1979) 469
Muppet Treasure Island (1996) 57
Muppets From Space (1999) 57
Muppets Take Manhattan, The (1984) 469
Murder at 1600 (1997) 135
Murder by Numbers (2002) 558
Muriel's Wedding (1994) 446
My Best Friend's Wedding (1997) 283
My Best Friend's Wedding (1997) 116
My Big Fat Greek Wedding (2002) 239
My Cousin Vinny (1992) 135
My Cousin Vinny (1992) 42
My Cousin Vinny (1992) 239
My Cousin Vinny (1992) 435
My Cousin Vinny (1992) 469
My Cousin Vinny (1992) 57
My Cousin Vinny (1992) 410
My Favorite Year (1982) 469
My Life (1993) 42
My Life in Pink (Ma vie en rose) (1997) 410

My Neighbor Totoro (Tonari no Totoro) (1988) 601
My Neighbor Totoro (Tonari no Totoro) (1988) 445
Mystery Men (1999) 57
Mystery Men (1999) 180
Mystery Men (1999) 135
Mystery Science Theater 3000: The Movie (1996) 57
Mystery Science Theater 3000: The Movie (1996) 283
Mystery Science Theater 3000: The Movie (1996) 469
Mystery Science Theater 3000: The Movie (1996) 135
Mystic Pizza (1988) 42
Mystic Pizza (1988) 558
Mystic Pizza (1988) 410
Mystic River (2003) 239
Naked Gun 2 1/2: The Smell of Fear, The (1991) 42
Naked Gun 2 1/2: The Smell of Fear, The (1991) 135
Naked Gun 33 1/3: The Final Insult (1994) 239
Napoleon Dynamite (2004) 239
National Lampoon's Vacation (1983) 42
National Lampoon's Vacation (1983) 469
National Lampoon's Van Wilder (2002) 558
Natural Born Killers (1994) 135
Natural Born Killers (1994) 42
Natural Born Killers (1994) 239
Natural Born Killers (1994) 469
Natural Born Killers (1994) 446
Natural, The (1984) 42
Natural, The (1984) 135
Navy Seals (1990) 42
Negotiator, The (1998) 320
Negotiator, The (1998) 469
Nell (1994) 446
Net, The (1995) 57
Net, The (1995) 42
Net, The (1995) 469
Network (1976) 410
Network (1976) 469
Never Been Kissed (1999) 42
Never Been Kissed (1999) 469
Never Been Kissed (1999) 591
NeverEnding Story, The (1984) 135
Next Friday (2000) 42
Next Stop Wonderland (1998) 410
Next of Kin (1989) 42
Nick of Time (1995) 57
Nick of Time (1995) 469
Night of the Comet (1984) 469
Night of the Living Dead (1968) 591
Night to Remember, A (1958) 469
Nightmare Before Christmas, The (1993) 57
Nightmare Before Christmas, The (1993) 469
Nightmare Before Christmas, The (1993) 446
Nightmare Before Christmas, The (1993) 135
Nights of Cabiria (Notti di Cabiria, Le) (1957) 410
Nine Months (1995) 42
Nine Months (1995) 446
Ninja Scroll (Jûbei ninpûchô) (1995) 320
No Country for Old Men (2007) 239
North by Northwest (1959) 601
North by Northwest (1959) 57
North by Northwest (1959) 410
North by Northwest (1959) 469
Nosferatu (Nosferatu, eine Symphonie des Grauens) (1922) 469
Notebook, The (2004) 583
Notorious (1946) 469
Notting Hill (1999) 410
Notting Hill (1999) 42
Nurse Betty (2000) 410
Nurse Betty (2000) 591
Nutty Professor II: The Klumps (2000) 475
Nutty Professor, The (1996) 42
Nutty Professor, The (1996) 283
Nutty Professor, The (1996) 475
Nutty Professor, The (1996) 135
O Brother, Where Art Thou? (2000) 410
O Brother, Where Art Thou? (2000) 42
O Brother, Where Art Thou? (2000) 445
O Brother, Where Art Thou? (2000) 135
Oblivion (2013) 475
Ocean's Eleven (2001) 601
Ocean's Eleven (2001) 116
Ocean's Eleven (2001) 239
Ocean's Thirteen (2007) 239
Ocean's Twelve (2004) 239
Odd Couple, The (1968) 57
Odd Couple, The (1968) 469
Office Space (1999) 135
Office Space (1999) 42
Office Space (1999) 239
Office Space (1999) 403
Office Space (1999) 469
Officer and a Gentleman, An (1982) 42
Old Boy (2003) 445
Old Man and the Sea, The (1958) 410
Old School (2003) 583
Omega Man, The (1971) 57
Omega Man, The (1971) 469
On Golden Pond (1981) 42
On Her Majesty's Secret Service (1969) 469
On the Waterfront (1954) 469
Once Upon a Time in America (1984) 469
One Flew Over the Cuckoo's Nest (1975) 239
One Flew Over the Cuckoo's Nest (1975) 435
One Flew Over the Cuckoo's Nest (1975) 116
One Flew Over the Cuckoo's Nest (1975) 469
One Flew Over the Cuckoo's Nest (1975) 601
One Flew Over the Cuckoo's Nest (1975) 57
Onegin (1999) 410
Opposite of Sex, The (1998) 469
Ordinary People (1980) 469
Out of Sight (1998) 57
Out-of-Towners, The (1999) 42
Outbreak (1995) 135
Outbreak (1995) 42
Outbreak (1995) 239
Outbreak (1995) 469
Outbreak (1995) 446
Outlaw Josey Wales, The (1976) 469
Pallbearer, The (1996) 42
Pan's Labyrinth (Laberinto del fauno, El) (2006) 601
Pan's Labyrinth (Laberinto del fauno, El) (2006) 475
Pan's Labyrinth (Laberinto del fauno, El) (2006) 445
Pan's Labyrinth (Laberinto del fauno, El) (2006) 239
Panic Room (2002) 558
Parent Trap, The (1961) 320
Parent Trap, The (1998) 583
Paths of Glory (1957) 469
Patriot Games (1992) 57
Patriot Games (1992) 42
Patriot, The (2000) 57
Patriot, The (2000) 42
Patriot, The (2000) 475
Paulie (1998) 42
Payback (1999) 57
Payback (1999) 42
Payback (1999) 591
Peacemaker, The (1997) 57
Pee-wee's Big Adventure (1985) 410
Pee-wee's Big Adventure (1985) 469
Pelle the Conqueror (Pelle erobreren) (1987) 410
Penn & Teller Get Killed (1989) 135
People vs. Larry Flynt, The (1996) 283
Perfect Murder, A (1998) 42
Perfect Murder, A (1998) 135
Perfect Storm, The (2000) 42
Perfect Storm, The (2000) 180
Perfect World, A (1993) 42
Pete's Dragon (1977) 57
Peter Pan (1953) 57
Peter's Friends (1992) 57
Phantasm (1979) 469
Phantom, The (1996) 57
Phenomenon (1996) 239
Philadelphia (1993) 446
Philadelphia Story, The (1940) 469
Pi (1998) 469
Pi (1998) 135
Pianist, The (2002) 116
Pianist, The (2002) 445
Piano, The (1993) 42
Piano, The (1993) 446
Pirates of the Caribbean: At World's End (2007) 239
Pirates of the Caribbean: Dead Man's Chest (2006) 475
Pirates of the Caribbean: Dead Man's Chest (2006) 445
Pirates of the Caribbean: Dead Man's Chest (2006) 239
Pirates of the Caribbean: The Curse of the Black Pearl (2003) 435
Pirates of the Caribbean: The Curse of the Black Pearl (2003) 116
Pirates of the Caribbean: The Curse of the Black Pearl (2003) 475
Pirates of the Caribbean: The Curse of the Black Pearl (2003) 239
Pitch Perfect (2012) 583
Pitch Perfect 2 (2015) 583
Plan 9 from Outer Space (1959) 469
Planes, Trains & Automobiles (1987) 410
Planes, Trains & Automobiles (1987) 42
Planet of the Apes (1968) 57
Planet of the Apes (1968) 469
Platoon (1986) 42
Platoon (1986) 469
Platoon (1986) 239
Player, The (1992) 57
Player, The (1992) 410
Player, The (1992) 469
Pleasantville (1998) 135
Pleasantville (1998) 239
Pleasantville (1998) 469
Pleasantville (1998) 57
Pleasantville (1998) 410
Pocahontas (1995) 435
Point Break (1991) 42
Point Break (1991) 135
Poison Ivy: New Seduction (1997) 57
Polar Express, The (2004) 475
Popeye (1980) 57
Popeye (1980) 135
Postman Always Rings Twice, The (1981) 469
Postman, The (1997) 57
Postman, The (1997) 42
Powder (1995) 591
Predator (1987) 135
Predator (1987) 42
Predator (1987) 239
Predator (1987) 469
Predator (1987) 57
Predator 2 (1990) 57
Predator 2 (1990) 469
Prestige, The (2006) 601
Prestige, The (2006) 435
Prestige, The (2006) 239
Pretty in Pink (1986) 410
Pride & Prejudice (2005) 475
Primal Fear (1996) 42
Primary Colors (1998) 42
Prince of Egypt, The (1998) 591
Princess Bride, The (1987) 135
Princess Bride, The (1987) 42
Princess Bride, The (1987) 239
Princess Bride, The (1987) 601
Princess Bride, The (1987) 180
Princess Bride, The (1987) 469
Princess Bride, The (1987) 57
Princess Bride, The (1987) 445
Princess Mononoke (Mononoke-hime) (1997) 601
Private Parts (1997) 42
Private Parts (1997) 469
Prizzi's Honor (1985) 57
Prizzi's Honor (1985) 469
Problem Child (1990) 135
Producers, The (1968) 57
Producers, The (1968) 410
Producers, The (1968) 469
Producers, The (1968) 135
Professional, The (Le professionnel) (1981) 239
Psycho (1960) 116
Psycho (1960) 469
Pump Up the Volume (1990) 57
Purple Rose of Cairo, The (1985) 410
Purple Rose of Cairo, The (1985) 469
Pursuit of Happyness, The (2006) 239
Pushing Tin (1999) 42
Quatermass and the Pit (1967) 469
Queen of the Damned (2002) 558
Quick and the Dead, The (1995) 57
Quick and the Dead, The (1995) 42
Quiet Man, The (1952) 57
Radio Days (1987) 469
Raging Bull (1980) 410
Raging Bull (1980) 469
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981) 135
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981) 239
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981) 180
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981) 469
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981) 116
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981) 601
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981) 475
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981) 57
Rain Man (1988) 42
Rain Man (1988) 116
Rain Man (1988) 239
Rainmaker, The (1997) 42
Rainmaker, The (1997) 239
Raising Arizona (1987) 469
Rambo III (1988) 42
Rambo: First Blood Part II (1985) 469
Random Hearts (1999) 42
Random Hearts (1999) 591
Ransom (1996) 135
Ratatouille (2007) 601
Ratatouille (2007) 239
Ravenous (1999) 135
Ready to Wear (Pret-A-Porter) (1994) 57
Reality Bites (1994) 42
Rear Window (1954) 601
Rear Window (1954) 57
Rear Window (1954) 410
Rear Window (1954) 469
Rebecca (1940) 469
Red Dawn (1984) 57
Red Dawn (1984) 42
Red Dawn (1984) 135
Ref, The (1994) 135
Reindeer Games (2000) 42
Remember the Titans (2000) 591
Renaissance Man (1994) 57
Replacement Killers, The (1998) 57
Replacement Killers, The (1998) 135
Replacements, The (2000) 42
Repo Man (1984) 469
Reservoir Dogs (1992) 42
Reservoir Dogs (1992) 403
Reservoir Dogs (1992) 469
Reservoir Dogs (1992) 239
Resident Evil (2002) 558
Return of the Pink Panther, The (1975) 410
Revenge of the Nerds (1984) 410
Right Stuff, The (1983) 42
Right Stuff, The (1983) 469
Righteous Kill (2008) 403
Ring, The (2002) 239
Risky Business (1983) 116
Risky Business (1983) 410
Risky Business (1983) 42
Risky Business (1983) 469
River Runs Through It, A (1992) 42
Road House (1989) 42
Road Trip (2000) 42
Road Warrior, The (Mad Max 2) (1981) 320
Road Warrior, The (Mad Max 2) (1981) 403
Road to Perdition (2002) 239
Road to Wellville, The (1994) 57
Rob Roy (1995) 57
Rob Roy (1995) 446
Robin Hood: Men in Tights (1993) 57
Robin Hood: Men in Tights (1993) 42
Robin Hood: Men in Tights (1993) 446
Robin Hood: Men in Tights (1993) 135
Robin Hood: Prince of Thieves (1991) 57
Robin Hood: Prince of Thieves (1991) 42
Robin Hood: Prince of Thieves (1991) 403
RoboCop (1987) 135
RoboCop (1987) 239
RoboCop (1987) 116
RoboCop (1987) 469
RoboCop (1987) 57
Robots (2005) 475
Rock, The (1996) 42
Rock, The (1996) 239
Rock, The (1996) 469
Rock, The (1996) 57
Rock, The (1996) 446
RocketMan (a.k.a. Rocket Man) (1997) 57
Rocketeer, The (1991) 57
Rocketeer, The (1991) 42
Rocketeer, The (1991) 469
Rocky (1976) 135
Rocky (1976) 239
Rocky (1976) 116
Rocky (1976) 469
Rocky (1976) 57
Rocky Horror Picture Show, The (1975) 116
Rocky II (1979) 469
Rocky II (1979) 135
Rocky III (1982) 469
Rocky IV (1985) 469
Rocky V (1990) 469
Rocky V (1990) 135
Roger & Me (1989) 410
Roger & Me (1989) 135
Rogue One: A Star Wars Story (2016) 475
Role Models (2008) 583
Roman Holiday (1953) 410
Romancing the Stone (1984) 135
Romancing the Stone (1984) 42
Romancing the Stone (1984) 116
Romancing the Stone (1984) 469
Romancing the Stone (1984) 57
Romeo Must Die (2000) 239
Romy and Michele's High School Reunion (1997) 57
Romy and Michele's High School Reunion (1997) 42
Ronin (1998) 42
Ronin (1998) 469
Rope (1948) 410
Rosemary's Baby (1968) 469
Rosencrantz and Guildenstern Are Dead (1990) 57
Rosencrantz and Guildenstern Are Dead (1990) 469
Rounders (1998) 239
Rudy (1993) 42
Rudy (1993) 435
Rudy (1993) 239
Rugrats Movie, The (1998) 57

Rumble in the Bronx (Hont faan kui) (1995) 57
Rumble in the Bronx (Hont faan kui) (1995) 469
Rumble in the Bronx (Hont faan kui) (1995) 135
Run Lola Run (Lola rennt) (1998) 135
Runaway (1984) 57
Runaway Bride (1999) 42
Runaway Bride (1999) 403
Runaway Bride (1999) 116
Runaway Bride (1999) 591
Running Man, The (1987) 469
Running Man, The (1987) 135
Rush Hour (1998) 57
Rush Hour (1998) 469
Rush Hour (1998) 135
Rush Hour 2 (2001) 475
Rushmore (1998) 410
Rushmore (1998) 469
Rushmore (1998) 135
Saboteur (1942) 469
Sabrina (1954) 57
Sabrina (1954) 410
Sabrina (1995) 42
Saint, The (1997) 57
Saint, The (1997) 42
Salton Sea, The (2002) 558
Santa Clause, The (1994) 446
Santa Clause, The (1994) 583
Saturn 3 (1980) 469
Saving Grace (2000) 558
Saving Private Ryan (1998) 135
Saving Private Ryan (1998) 42
Saving Private Ryan (1998) 558
Saving Private Ryan (1998) 239
Saving Private Ryan (1998) 601
Saving Private Ryan (1998) 469
Saving Private Ryan (1998) 57
Saving Private Ryan (1998) 445
Say Anything... (1989) 135
Scarface (1983) 42
Scarface (1983) 239
Scent of a Woman (1992) 42
Scooby-Doo (2002) 558
Scream (1996) 57
Scream (1996) 116
Scream (1996) 135
Scream 2 (1997) 135
Searching for Bobby Fischer (1993) 469
Sense and Sensibility (1995) 173
Sense and Sensibility (1995) 446
Sense and Sensibility (1995) 445
Serenity (2005) 435
Serenity (2005) 445
Serenity (2005) 239
Serpent and the Rainbow, The (1988) 42
Seven (a.k.a. Se7en) (1995) 135
Seven (a.k.a. Se7en) (1995) 42
Seven (a.k.a. Se7en) (1995) 239
Seven (a.k.a. Se7en) (1995) 403
Seven (a.k.a. Se7en) (1995) 116
Seven (a.k.a. Se7en) (1995) 469
Seven (a.k.a. Se7en) (1995) 601
Seven (a.k.a. Se7en) (1995) 445
Seven (a.k.a. Se7en) (1995) 446
Seven Samurai (Shichinin no samurai) (1954) 601
Seven Samurai (Shichinin no samurai) (1954) 57
Seven Year Itch, The (1955) 42
Seven Years in Tibet (1997) 42
Seventh Seal, The (Sjunde inseglet, Det) (1957) 410
Seventh Seal, The (Sjunde inseglet, Det) (1957) 469
Seventh Sign, The (1988) 42
Shadow of a Doubt (1943) 469
Shakespeare in Love (1998) 57
Shakespeare in Love (1998) 469
Shakespeare in Love (1998) 591
Shanghai Noon (2000) 57
Shanghai Noon (2000) 135
Shark Tale (2004) 475
She's All That (1999) 591
She's All That (1999) 583
She's Out of My League (2010) 601
She's the Man (2006) 583
Shining, The (1980) 469
Short Circuit (1986) 42
Showgirls (1995) 42
Shrek (2001) 583
Shrek (2001) 135
Shrek (2001) 558
Shrek (2001) 239
Shrek (2001) 601
Shrek (2001) 475
Shrek 2 (2004) 475
Shrek 2 (2004) 116
Shrek 2 (2004) 239
Shrek the Third (2007) 475
Shutter Island (2010) 601
Shutter Island (2010) 435
Shutter Island (2010) 445
Sicko (2007) 239
Silence of the Lambs, The (1991) 135
Silence of the Lambs, The (1991) 583
Silence of the Lambs, The (1991) 42
Silence of the Lambs, The (1991) 558
Silence of the Lambs, The (1991) 239
Silence of the Lambs, The (1991) 116
Silence of the Lambs, The (1991) 469
Silence of the Lambs, The (1991) 57
Silence of the Lambs, The (1991) 410
Silence of the Lambs, The (1991) 283
Silence of the Lambs, The (1991) 445
Silence of the Lambs, The (1991) 446
Simon Birch (1998) 42
Simple Plan, A (1998) 469
Simple Plan, A (1998) 135
Simpsons Movie, The (2007) 475
Simpsons Movie, The (2007) 239
Sin City (2005) 239
Singin' in the Rain (1952) 469
Singin' in the Rain (1952) 57
Singin' in the Rain (1952) 116
Singin' in the Rain (1952) 445
Single White Female (1992) 558
Singles (1992) 42
Sirens (1994) 57
Sister Act (1992) 42
Sister Act 2: Back in the Habit (1993) 42
Sister Act 2: Back in the Habit (1993) 135
Sisters (2015) 583
Six Days Seven Nights (1998) 42
Sixteen Candles (1984) 410
Sixteen Candles (1984) 42
Sixteen Candles (1984) 469
Sixth Sense, The (1999) 135
Sixth Sense, The (1999) 591
Sixth Sense, The (1999) 601
Sixth Sense, The (1999) 469
Sixth Sense, The (1999) 57
Sixth Sense, The (1999) 445
Sleeper (1973) 469
Sleeper (1973) 135
Sleepers (1996) 42
Sleepers (1996) 469
Sleepless in Seattle (1993) 57
Sleepless in Seattle (1993) 116
Sleepless in Seattle (1993) 446
Sleepless in Seattle (1993) 239
Sleepy Hollow (1999) 57
Sling Blade (1996) 469
Sling Blade (1996) 135
Sliver (1993) 42
Slumdog Millionaire (2008) 601
Slumdog Millionaire (2008) 435
Slums of Beverly Hills, The (1998) 57
Slums of Beverly Hills, The (1998) 42
Small Time Crooks (2000) 410
Smilla's Sense of Snow (1997) 135
Snatch (2000) 435
Snatch (2000) 445
Snatch (2000) 239
Sneakers (1992) 239
So I Married an Axe Murderer (1993) 469
Social Network, The (2010) 601
Social Network, The (2010) 435
Solaris (Solyaris) (1972) 469
Some Like It Hot (1959) 469
Some Like It Hot (1959) 445
Something to Talk About (1995) 42
Sommersby (1993) 42
Sound of Music, The (1965) 116
South Pacific (1958) 57
South Park: Bigger, Longer and Uncut (1999) 57
South Park: Bigger, Longer and Uncut (1999) 42
South Park: Bigger, Longer and Uncut (1999) 135
Soylent Green (1973) 57
Soylent Green (1973) 469
Soylent Green (1973) 135
Space Cowboys (2000) 57
Space Jam (1996) 57
Space Jam (1996) 135
SpaceCamp (1986) 135
Spaceballs (1987) 57
Spaceballs (1987) 42
Spaceballs (1987) 469
Specialist, The (1994) 180
Species (1995) 469
Speed (1994) 135
Speed (1994) 173
Speed (1994) 116
Speed (1994) 57
Speed (1994) 446
Speed 2: Cruise Control (1997) 469
Sphere (1998) 469
Spider-Man (2002) 475
Spider-Man (2002) 116
Spider-Man (2002) 239
Spider-Man 2 (2004) 475
Spider-Man 2 (2004) 239
Spider-Man 3 (2007) 475
Spider-Man 3 (2007) 239
Spies Like Us (1985) 320
Spirited Away (Sen to Chihiro no kamikakushi) (2001) 601
Spirited Away (Sen to Chihiro no kamikakushi) (2001) 475
Spirited Away (Sen to Chihiro no kamikakushi) (2001) 445
Splash (1984) 57
Splash (1984) 42
Splash (1984) 469
Splash (1984) 239
Spring, Summer, Fall, Winter... and Spring (Bom yeoreum gaeul gyeoul geurigo bom) (2003) 445
Spy Kids (2001) 475
Spy Who Loved Me, The (1977) 57
Spy Who Loved Me, The (1977) 469
St. Elmo's Fire (1985) 42
Stand by Me (1986) 239
Stand by Me (1986) 469
Stand by Me (1986) 558
Stand by Me (1986) 135
Star Trek (2009) 320
Star Trek (2009) 435
Star Trek (2009) 475
Star Trek II: The Wrath of Khan (1982) 135
Star Trek II: The Wrath of Khan (1982) 42
Star Trek II: The Wrath of Khan (1982) 469
Star Trek II: The Wrath of Khan (1982) 57
Star Trek II: The Wrath of Khan (1982) 475
Star Trek III: The Search for Spock (1984) 57
Star Trek III: The Search for Spock (1984) 469
Star Trek III: The Search for Spock (1984) 135
Star Trek IV: The Voyage Home (1986) 57
Star Trek IV: The Voyage Home (1986) 469
Star Trek IV: The Voyage Home (1986) 135
Star Trek V: The Final Frontier (1989) 57
Star Trek V: The Final Frontier (1989) 42
Star Trek V: The Final Frontier (1989) 469
Star Trek VI: The Undiscovered Country (1991) 57
Star Trek VI: The Undiscovered Country (1991) 469
Star Trek VI: The Undiscovered Country (1991) 135
Star Trek: First Contact (1996) 57
Star Trek: First Contact (1996) 475
Star Trek: First Contact (1996) 469
Star Trek: First Contact (1996) 135
Star Trek: Generations (1994) 135
Star Trek: Generations (1994) 173
Star Trek: Generations (1994) 469
Star Trek: Generations (1994) 57
Star Trek: Generations (1994) 475
Star Trek: Generations (1994) 446
Star Trek: Insurrection (1998) 57
Star Trek: Insurrection (1998) 469
Star Trek: Insurrection (1998) 135
Star Trek: The Motion Picture (1979) 57
Star Trek: The Motion Picture (1979) 469
Star Wars: Episode I - The Phantom Menace (1999) 135
Star Wars: Episode I - The Phantom Menace (1999) 42
Star Wars: Episode I - The Phantom Menace (1999) 591
Star Wars: Episode I - The Phantom Menace (1999) 239
Star Wars: Episode I - The Phantom Menace (1999) 469
Star Wars: Episode I - The Phantom Menace (1999) 57
Star Wars: Episode II - Attack of the Clones (2002) 475
Star Wars: Episode II - Attack of the Clones (2002) 239
Star Wars: Episode III - Revenge of the Sith (2005) 475
Star Wars: Episode IV - A New Hope (1977) 135
Star Wars: Episode IV - A New Hope (1977) 42
Star Wars: Episode IV - A New Hope (1977) 591
Star Wars: Episode IV - A New Hope (1977) 239
Star Wars: Episode IV - A New Hope (1977) 180
Star Wars: Episode IV - A New Hope (1977) 469
Star Wars: Episode IV - A New Hope (1977) 57
Star Wars: Episode IV - A New Hope (1977) 410
Star Wars: Episode IV - A New Hope (1977) 475
Star Wars: Episode IV - A New Hope (1977) 445
Star Wars: Episode V - The Empire Strikes Back (1980) 135
Star Wars: Episode V - The Empire Strikes Back (1980) 42
Star Wars: Episode V - The Empire Strikes Back (1980) 239
Star Wars: Episode V - The Empire Strikes Back (1980) 180
Star Wars: Episode V - The Empire Strikes Back (1980) 469
Star Wars: Episode V - The Empire Strikes Back (1980) 57
Star Wars: Episode V - The Empire Strikes Back (1980) 475
Star Wars: Episode VI - Return of the Jedi (1983) 135
Star Wars: Episode VI - Return of the Jedi (1983) 42
Star Wars: Episode VI - Return of the Jedi (1983) 591
Star Wars: Episode VI - Return of the Jedi (1983) 239
Star Wars: Episode VI - Return of the Jedi (1983) 469
Star Wars: Episode VI - Return of the Jedi (1983) 475
Star Wars: Episode VI - Return of the Jedi (1983) 57
Star Wars: Episode VI - Return of the Jedi (1983) 283
Star Wars: Episode VII - The Force Awakens (2015) 475
Stardust (2007) 239
Starman (1984) 469
Starship Troopers (1997) 135
Starship Troopers (1997) 239
Starship Troopers (1997) 435
Starship Troopers (1997) 469
Starship Troopers (1997) 57
Starship Troopers (1997) 475

Stealing Beauty (1996) 57
Steamboat Willie (1928) 57
Step Brothers (2008) 583
Stepford Wives, The (1975) 469
Steve Jobs: The Man in the Machine (2015) 601
Stigmata (1999) 239
Stigmata (1999) 591
Sting, The (1973) 57
Sting, The (1973) 469
Stir of Echoes (1999) 135
Story of Us, The (1999) 57
Straight Story, The (1999) 469
Strange Days (1995) 57
Stranger Than Paradise (1984) 410
Stranger than Fiction (2006) 239
Strangers on a Train (1951) 410
Strangers on a Train (1951) 469
Street Fighter (1994) 135
Streetcar Named Desire, A (1951) 469
Strictly Ballroom (1992) 410
Stripes (1981) 410
Stripes (1981) 403
Stripes (1981) 42
Stripes (1981) 469
Striptease (1996) 57
Summer Rental (1985) 42
Summer of Sam (1999) 42
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950) 57
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950) 410
Superbad (2007) 239
Supercop (Police Story 3: Supercop) (Jing cha gu shi III: Chao ji jing cha) (1992) 57
Superman (1978) 57
Superman (1978) 469
Superman II (1980) 42
Superman II (1980) 403
Superman II (1980) 180
Superman II (1980) 469
Superman II (1980) 57
Superman III (1983) 57
Superman III (1983) 469
Superman IV: The Quest for Peace (1987) 469
Superman Returns (2006) 239
Surrogates (2009) 475
Swamp Thing (1982) 469
Sweet Hereafter, The (1997) 469
Sweet Home Alabama (2002) 583
Sweet November (2001) 42
Swimming with Sharks (1995) 469
Swingers (1996) 57
Swingers (1996) 410
Swingers (1996) 42
Take the Money and Run (1969) 410
Take the Money and Run (1969) 469
Taking of Pelham One Two Three, The (1974) 469
Talented Mr. Ripley, The (1999) 42
Talented Mr. Ripley, The (1999) 591
Talk to Her (Hable con Ella) (2002) 445
Tao of Steve, The (2000) 135
Tarzan (1999) 57
Tarzan (1999) 583
Taste of Cherry (Ta'm e guilass) (1997) 410
Taxi Driver (1976) 469
Taxi Driver (1976) 410
Taxi Driver (1976) 445
Teenage Mutant Ninja Turtles (1990) 42
Tequila Sunrise (1988) 57
Tequila Sunrise (1988) 469
Terminal Velocity (1994) 42
Terminal, The (2004) 239
Terminator 3: Rise of the Machines (2003) 239
Terminator Salvation (2009) 475
Terminator, The (1984) 135
Terminator, The (1984) 239
Terminator, The (1984) 469
Terminator, The (1984) 57
Terminator, The (1984) 475
Terms of Endearment (1983) 410
Terms of Endearment (1983) 469
That Thing You Do! (1996) 42
The Big Sick (2017) 601
The Butterfly Effect (2004) 475
The Butterfly Effect (2004) 239
The Count of Monte Cristo (2002) 558
The Devil's Advocate (1997) 42
The Devil's Advocate (1997) 239
The Godfather Trilogy: 1972-1990 (1992) 601
The Hobbit: The Battle of the Five Armies (2014) 475
The Hunger Games (2012) 475
The Hunger Games: Catching Fire (2013) 475
The Hunger Games: Mockingjay - Part 1 (2014) 475
The Hunger Games: Mockingjay - Part 2 (2015) 475
The Imitation Game (2014) 601
The Imitation Game (2014) 475
The Machinist (2004) 239
The Revenant (2015) 475
Thelma & Louise (1991) 469
There's Something About Mary (1998) 135
There's Something About Mary (1998) 42
There's Something About Mary (1998) 558
There's Something About Mary (1998) 239
There's Something About Mary (1998) 469
They Live (1988) 135
Thin Red Line, The (1998) 42
Thin Red Line, The (1998) 403
Thing from Another World, The (1951) 469
Thing, The (1982) 57
Thing, The (1982) 469
Thinner (1996) 135
Third Man, The (1949) 57
Third Man, The (1949) 469
Thirty-Two Short Films About Glenn Gould (1993) 410
This Is 40 (2012) 583
This Is Spinal Tap (1984) 57
This Is Spinal Tap (1984) 469
Thomas Crown Affair, The (1999) 42
Thomas Crown Affair, The (1999) 239
Thomas Crown Affair, The (1999) 591
Thomas Crown Affair, The (1999) 135
Thor (2011) 475
Thor: Ragnarok (2017) 601
Three Colors: Red (Trois couleurs: Rouge) (1994) 445
Three Kings (1999) 42
Three Kings (1999) 469
Three Kings (1999) 239
Three Musketeers, The (1993) 57
Three Musketeers, The (1993) 42
Three Musketeers, The (1993) 469
Threesome (1994) 42
Throw Momma from the Train (1987) 42
Throw Momma from the Train (1987) 410
Thunderball (1965) 469
Thunderbolt and Lightfoot (1974) 57
Time Bandits (1981) 57
Time Bandits (1981) 42
Time Bandits (1981) 469
Time Bandits (1981) 135
Time Machine, The (2002) 558
Time to Kill, A (1996) 42
Time to Kill, A (1996) 283
Timecop (1994) 57
Timecop (1994) 42
Titan A.E. (2000) 320
Titanic (1953) 320
Titanic (1997) 583
Titanic (1997) 135
Titanic (1997) 558
Titanic (1997) 116
Titanic (1997) 601
Titanic (1997) 57
To Catch a Thief (1955) 57
To Catch a Thief (1955) 469
To Die For (1995) 469
To Die For (1995) 446
To Gillian on Her 37th Birthday (1996) 558
To Kill a Mockingbird (1962) 601
To Kill a Mockingbird (1962) 410
To Kill a Mockingbird (1962) 469
Tombstone (1993) 57
Tombstone (1993) 42
Tommy Boy (1995) 42
Tommy Boy (1995) 435
Tomorrow Never Dies (1997) 57
Tomorrow Never Dies (1997) 42
Tomorrow Never Dies (1997) 135
Tootsie (1982) 42
Top Gun (1986) 42
Top Gun (1986) 239
Top Gun (1986) 116
Top Gun (1986) 469
Top Gun (1986) 57
Tora! Tora! Tora! (1970) 57
Total Recall (1990) 57
Total Recall (1990) 239
Total Recall (1990) 469
Total Recall (1990) 135
Touch of Evil (1958) 57
Touch of Evil (1958) 410
Touch of Evil (1958) 469
Towering Inferno, The (1974) 469
Town & Country (2001) 410
Toxic Avenger Part III: The Last Temptation of Toxie, The (1989) 42
Toxic Avenger, Part II, The (1989) 42
Toxic Avenger, The (1985) 42
Toy Story 2 (1999) 601
Toy Story 2 (1999) 57
Toy Story 2 (1999) 591
Toy Story 3 (2010) 601
Toys (1992) 469
Toys (1992) 135
Trading Places (1983) 469
Traffic (2000) 42
Training Day (2001) 239
Training Day (2001) 135
Trainspotting (1996) 57
Trainspotting (1996) 445
Trainspotting (1996) 239
Transformers (2007) 239
Transformers: Revenge of the Fallen (2009) 475
Treasure of the Sierra Madre, The (1948) 57
Treasure of the Sierra Madre, The (1948) 469
Trekkies (1997) 469
Trial, The (Procès, Le) (1962) 410
Trial, The (Procès, Le) (1962) 469
Triumph of the Will (Triumph des Willens) (1934) 410
Tron (1982) 42
Tron (1982) 469
Tron (1982) 135
Tron: Legacy (2010) 475
Tropic Thunder (2008) 403
Trouble with Harry, The (1955) 410
True Grit (1969) 57
True Grit (2010) 435
True Romance (1993) 42
True Romance (1993) 446
True Romance (1993) 469
True Romance (1993) 558
Truman Show, The (1998) 135
Truman Show, The (1998) 42
Truman Show, The (1998) 239
Truman Show, The (1998) 57
Truman Show, The (1998) 475
Truth About Cats & Dogs, The (1996) 42
Twelfth Night (1996) 57
Twelve Monkeys (a.k.a. 12 Monkeys) (1995) 135
Twelve Monkeys (a.k.a. 12 Monkeys) (1995) 239
Twelve Monkeys (a.k.a. 12 Monkeys) (1995) 469
Twelve Monkeys (a.k.a. 12 Monkeys) (1995) 57
Twelve Monkeys (a.k.a. 12 Monkeys) (1995) 445
Twelve Monkeys (a.k.a. 12 Monkeys) (1995) 446
Twister (1996) 57
Twister (1996) 116
Twister (1996) 469
U.S. Marshals (1998) 135
U2: Rattle and Hum (1988) 42
Unbreakable (2000) 239
Unbreakable (2000) 135
Uncle Buck (1989) 42
Under Siege (1992) 57
Under Siege (1992) 135
Unforgiven (1992) 57
Unforgiven (1992) 42
Unforgiven (1992) 403
Unforgiven (1992) 239
Untamed Heart (1993) 42
Untouchables, The (1987) 57
Untouchables, The (1987) 42
Untouchables, The (1987) 469
Untouchables, The (1987) 239
Up (2009) 601
Up (2009) 435
Uptown Girls (2003) 583
V for Vendetta (2006) 601
V for Vendetta (2006) 435
V for Vendetta (2006) 239
Vegas Vacation (National Lampoon's Las Vegas Vacation) (1997) 42
Verdict, The (1982) 469
Vertigo (1958) 57
Vertigo (1958) 410
Vertigo (1958) 469
Very Bad Things (1998) 135
View to a Kill, A (1985) 57
View to a Kill, A (1985) 42
View to a Kill, A (1985) 469
Volcano (1997) 135
WALL·E (2008) 601
WALL·E (2008) 445
Wag the Dog (1997) 57
Wag the Dog (1997) 469
Waiting for Guffman (1996) 135
Wall Street (1987) 42
Wallace & Gromit: A Close Shave (1995) 57
Wallace & Gromit: A Close Shave (1995) 445
Wallace & Gromit: The Best of Aardman Animation (1996) 57
Wallace & Gromit: The Wrong Trousers (1993) 57
Wallace & Gromit: The Wrong Trousers (1993) 283
War of the Worlds (2005) 239
War of the Worlds, The (1953) 469
Warm Bodies (2013) 583
Waterboy, The (1998) 42
Waterworld (1995) 57
Waterworld (1995) 469
Waterworld (1995) 446
Waterworld (1995) 239
Wayne's World (1992) 135
Wayne's World (1992) 42
Wayne's World (1992) 239
Wayne's World (1992) 469
Wayne's World (1992) 57
Wayne's World (1992) 410
Wayne's World 2 (1993) 42
We Were Soldiers (2002) 558
Wedding Singer, The (1998) 583
Weekend at Bernie's II (1993) 42

Welcome to Sarajevo (1997) 57
Westworld (1973) 469
What About Bob? (1991) 469
What About Bob? (1991) 135
What Dreams May Come (1998) 57
What Dreams May Come (1998) 42
What Dreams May Come (1998) 558
What Dreams May Come (1998) 239
What Lies Beneath (2000) 591
What Planet Are You From? (2000) 42
What Women Want (2000) 42
What's Eating Gilbert Grape (1993) 446
When Harry Met Sally... (1989) 42
When Harry Met Sally... (1989) 469
When Harry Met Sally... (1989) 239
When a Man Loves a Woman (1994) 42
While You Were Sleeping (1995) 116
While You Were Sleeping (1995) 446
Whiplash (2013) 601
Whiplash (2014) 445
White Men Can't Jump (1992) 410
White Men Can't Jump (1992) 42
White Men Can't Jump (1992) 135
White Squall (1996) 42
Who Framed Roger Rabbit? (1988) 135
Who Framed Roger Rabbit? (1988) 42
Who Framed Roger Rabbit? (1988) 558
Who Framed Roger Rabbit? (1988) 239
Who Framed Roger Rabbit? (1988) 469
Who Framed Roger Rabbit? (1988) 57
Who Framed Roger Rabbit? (1988) 410
Who's Afraid of Virginia Woolf? (1966) 469
Who's Harry Crumb? (1989) 42
Whole Nine Yards, The (2000) 57
Whole Nine Yards, The (2000) 42
Widow of St. Pierre, The (Veuve de Saint-Pierre, La) (2000) 410
Wild Tales (2014) 445
Wild Things (1998) 42
Wild Things (1998) 403
Wild Wild West (1999) 57
Wild Wild West (1999) 239
William Shakespeare's Romeo + Juliet (1996) 57
William Shakespeare's Romeo + Juliet (1996) 116
Willow (1988) 57
Willow (1988) 135
Willy Wonka & the Chocolate Factory (1971) 410
Willy Wonka & the Chocolate Factory (1971) 469
Willy Wonka & the Chocolate Factory (1971) 558
Willy Wonka & the Chocolate Factory (1971) 135
Windtalkers (2002) 558
Wings of Desire (Himmel über Berlin, Der) (1987) 410
With a Friend Like Harry... (Harry, un ami qui vous veut du bien) (2000) 410
Witness (1985) 57
Witness (1985) 42
Witness (1985) 469
Witness (1985) 135
Wizard of Oz, The (1939) 469
Wizard of Oz, The (1939) 135
Wolf (1994) 57
Wolf of Wall Street, The (2013) 601
Woman in the Dunes (Suna no onna) (1964) 410
Women on the Verge of a Nervous Breakdown (Mujeres al borde de un ataque de nervios) (1988) 410
Wonder Boys (2000) 410
Wonderland (1999) 410
Working Girl (1988) 410
World According to Garp, The (1982) 42
World According to Garp, The (1982) 410
World Is Not Enough, The (1999) 57
World Is Not Enough, The (1999) 42
World Is Not Enough, The (1999) 435
World Is Not Enough, The (1999) 469
World of Apu, The (Apur Sansar) (1959) 410
Wyatt Earp (1994) 42
X-Files: Fight the Future, The (1998) 57
X-Men (2000) 135
X-Men (2000) 42
X-Men (2000) 239
X-Men (2000) 591
X-Men (2000) 475
X-Men: Days of Future Past (2014) 475
X-Men: First Class (2011) 475
X-Men: The Last Stand (2006) 475
X-Men: The Last Stand (2006) 239
X2: X-Men United (2003) 475
X2: X-Men United (2003) 239
Yards, The (2000) 410
Yes Man (2008) 583
Yi Yi (2000) 410
Yojimbo (1961) 57
You Can Count on Me (2000) 410
You Can't Take It with You (1938) 469
You Don't Mess with the Zohan (2008) 320
You've Got Mail (1998) 42
You've Got Mail (1998) 239
Young Frankenstein (1974) 57
Young Frankenstein (1974) 469
Young Guns (1988) 57
Young Guns (1988) 42
Young Guns (1988) 135
Young Guns II (1990) 57
Young Guns II (1990) 42
Young Guns II (1990) 135
Young Sherlock Holmes (1985) 135
Zero Effect (1998) 135
Zombieland (2009) 320
Zombieland (2009) 583
Zootopia (2016) 601
Zootopia (2016) 475
¡Three Amigos! (1986) 57
¡Three Amigos! (1986) 42
¡Three Amigos! (1986) 239

In [51]:
#create ratings for the active user
#predict the rating based on the (weighted) average ratings of the other user
# sum(ratings)/no.users OR sum(ratings*similarity)/sum(similarities)

pred_ratings_list = []

for movie in unseen_movies:
    others_user = user_based.columns[~user_based.loc[movie].isna()]
    others_user = set(others_user)
    num = 0
    den = 0
    pred_ratings = 0
    for user in set(top_20_users).intersection(others_user):
        ratings = user_based[user][movie]    
        sim = user_based_similarity_matrix[active_user][user]
        #print(user, ratings, sim, movie)
        
        num = num + (ratings*sim)
        den = den + sim + 0.000001
        
        pred_ratings = round(num/den,3)
        
        
    pred_ratings_list.append((movie, pred_ratings))
    
    
    
pred_ratings_list

[("'71 (2014)", 0),
 ("'Hellboy': The Seeds of Creation (2004)", 0),
 ("'Round Midnight (1986)", 0),
 ("'Salem's Lot (2004)", 0),
 ("'Til There Was You (1997)", 0),
 ("'Tis the Season for Love (2015)", 0),
 ("'burbs, The (1989)", 0),
 ("'night Mother (1986)", 0),
 ('(500) Days of Summer (2009)', 0),
 ('*batteries not included (1987)', 0),
 ('...All the Marbles (1981)', 0),
 ('...And Justice for All (1979)', 0),
 ('00 Schneider - Jagd auf Nihil Baxter (1994)', 0),
 ('1-900 (06) (1994)', 0),
 ('10 (1979)', 0),
 ('10 Cent Pistol (2015)', 0),
 ('10 Cloverfield Lane (2016)', 0),
 ('10 Items or Less (2006)', 0),
 ('10 Things I Hate About You (1999)', 5.0),
 ('10 Years (2011)', 0),
 ('10,000 BC (2008)', 0),
 ('100 Girls (2000)', 0),
 ('100 Streets (2016)', 0),
 ('101 Dalmatians (1996)', 0),
 ('101 Dalmatians (One Hundred and One Dalmatians) (1961)', 0),
 ("101 Dalmatians II: Patch's London Adventure (2003)", 0),
 ('101 Reykjavik (101 Reykjavík) (2000)', 0),
 ('102 Dalmatians (2000)', 0),
 ('10th & Wolf (2006)', 0),
 ('10th Kingdom, The (2000)', 0),
 ('10th Victim, The (La decima vittima) (1965)', 0),
 ('11\'09"01 - September 11 (2002)', 0),
 ('11:14 (2003)', 0),
 ('11th Hour, The (2007)', 0),
 ('12 Angry Men (1957)', 5.0),
 ('12 Angry Men (1997)', 0),
 ('12 Chairs (1971)', 0),
 ('12 Chairs (1976)', 0),
 ('12 Rounds (2009)', 0),
 ('12 Years a Slave (2013)', 0),
 ('127 Hours (2010)', 0),
 ('13 Assassins (Jûsan-nin no shikaku) (2010)', 0),
 ('13 Ghosts (1960)', 2.5),
 ('13 Going on 30 (2004)', 0),
 ('13 Hours (2016)', 0),
 ('13 Sins (2014)', 0),
 ('13 Tzameti (2005)', 0),
 ('13th (2016)', 0),
 ('13th Warrior, The (1999)', 0),
 ('1408 (2007)', 0),
 ('1492: Conquest of Paradise (1992)', 0),
 ('15 Minutes (2001)', 0),
 ('16 Blocks (2006)', 0),
 ('17 Again (2009)', 0),
 ('1776 (1972)', 0),
 ('18 Again! (1988)', 0),
 ('187 (One Eight Seven) (1997)', 0),
 ('1900 (Novecento) (1976)', 0),
 ('1941 (1979)', 0),
 ('1969 (1988)', 0),
 ('1984 (Nineteen Eighty-Four) (1984)', 4.0),
 ('2 Days in New York (2012)', 0),
 ('2 Days in Paris (2007)', 0),
 ('2 Days in the Valley (1996)', 2.0),
 ('2 Fast 2 Furious (Fast and the Furious 2, The) (2003)', 0),
 ('2 Guns (2013)', 0),
 ('20 Dates (1998)', 1.0),
 ('20 Feet from Stardom (Twenty Feet from Stardom) (2013)', 0),
 ('20 Million Miles to Earth (1957)', 0),
 ('20,000 Days on Earth (2014)', 0),
 ('20,000 Leagues Under the Sea (1916)', 4.0),
 ('20,000 Leagues Under the Sea (1954)', 0),
 ('200 Cigarettes (1999)', 0),
 ('2001 Maniacs (2005)', 0),
 ('2001: A Space Odyssey (1968)', 4.743),
 ('2010: The Year We Make Contact (1984)', 4.0),
 ('2012 (2009)', 4.0),
 ('2046 (2004)', 0),
 ('2048: Nowhere to Run (2017)', 0),
 ('21 (2008)', 0),
 ('21 Grams (2003)', 0),
 ('21 Jump Street (2012)', 0),
 ('21 Up (1977)', 0),
 ('21 and Over (2013)', 0),
 ('22 Jump Street (2014)', 0),
 ('24 Hour Party People (2002)', 0),
 ('25th Hour (2002)', 0),
 ('27 Dresses (2008)', 0),
 ('28 Days (2000)', 3.654),
 ('28 Days Later (2002)', 5.0),
 ('28 Up (1985)', 0),
 ('28 Weeks Later (2007)', 0),
 ('3 Days to Kill (2014)', 0),
 ('3 Extremes (Three... Extremes) (Saam gaang yi) (2004)', 0),
 ('3 Idiots (2009)', 0),
 ('3 Ninjas (1992)', 0),
 ('3 Ninjas Kick Back (1994)', 0),
 ('3 Ninjas Knuckle Up (1995)', 0),
 ('3 Ninjas: High Noon On Mega Mountain (1998)', 0),
 ('3 Women (Three Women) (1977)', 0),
 ('3 dev adam (Three Giant Men) (1973) ', 0),
 ('3-Iron (Bin-jip) (2004)', 0),
 ('30 Days of Night (2007)', 0),
 ('30 Minutes or Less (2011)', 0),
 ('300 (2007)', 4.0),
 ('3000 Miles to Graceland (2001)', 5.0),
 ('300: Rise of an Empire (2014)', 0),
 ('31 (2016)', 0),
 ('35 Up (1991)', 0),
 ('39 Steps, The (1935)', 0),
 ('3:10 to Yuma (1957)', 0),
 ('3:10 to Yuma (2007)', 5.0),
 ('4 Little Girls (1997)', 0),
 ('4 Months, 3 Weeks and 2 Days (4 luni, 3 saptamâni si 2 zile) (2007)', 0),
 ('40 Days and 40 Nights (2002)', 0),
 ('40-Year-Old Virgin, The (2005)', 3.368),
 ('400 Blows, The (Les quatre cents coups) (1959)', 4.0),
 ('42 (2013)', 0),
 ('42 Up (1998)', 0),
 ('42nd Street (1933)', 0),
 ('47 Ronin (2013)', 0),
 ('48 Hrs. (1982)', 0),
 ('49 Up (2005)', 0),
 ('5 Centimeters per Second (Byôsoku 5 senchimêtoru) (2007)', 0),
 ('5 to 7 (2014)', 0),
 ('5,000 Fingers of Dr. T, The (1953)', 0),
 ('50 First Dates (2004)', 4.0),
 ('50/50 (2011)', 0),
 ('52 Pick-Up (1986)', 0),
 ('54 (1998)', 0),
 ('6 Days to Air: The Making of South Park (2011)', 0),
 ('61* (2001)', 0),
 ('6th Day, The (2000)', 0),
 ('6th Man, The (Sixth Man, The) (1997)', 0),
 ('7 Days in Hell (2015)', 0),
 ('7 Faces of Dr. Lao (1964)', 0),
 ('7th Voyage of Sinbad, The (1958)', 0),
 ('8 1/2 (8½) (1963)', 4.0),
 ('8 Heads in a Duffel Bag (1997)', 0),
 ('8 Mile (2002)', 0),
 ('8 Seconds (1994)', 4.0),
 ('8 Women (2002)', 0),
 ('8 ½ Women (a.k.a. 8 1/2 Women) (a.k.a. Eight and a Half Women) (1999)', 0),
 ('800 Bullets (800 Balas) (2002)', 0),
 ('84 Charing Cross Road (1987)', 0),
 ('8MM (1999)', 3.507),
 ('9 (2009)', 0),
 ('9 1/2 Weeks (Nine 1/2 Weeks) (1986)', 0),
 ('9/11 (2002)', 0),
 ('96 Minutes (2011) ', 0),
 ('964 Pinocchio (1991)', 0),
 ('99 francs (2007)', 0),
 ('9to5: Days in Porn (a.k.a. 9 to 5: Days in Porn) (2008)', 0),
 ('A Bad Moms Christmas (2017)', 0),
 ('A Christmas Story Live! (2017)', 0),
 ('A Cosmic Christmas (1977)', 0),
 ('A Detective Story (2003)', 0),
 ("A Dog's Purpose (2017)", 0),
 ('A Flintstones Christmas Carol (1994)', 0),
 ('A German Life (2016)', 0),
 ('A Home at the End of the World (2004)', 0),
 ('A Man Called Blade (1977)', 0),
 ('A Man from Boulevard des Capucines (1987)', 0),
 ("A Merry Friggin' Christmas (2014)", 0),
 ("A Midsummer Night's Dream (2016)", 0),
 ('A Million Ways to Die in the West (2014)', 0),
 ('A Most Wanted Man (2014)', 0),
 ('A Perfect Day (2015)', 0),
 ('A Pigeon Sat on a Branch Reflecting on Existence (2014)', 0),
 ('A Plasticine Crow (1981)', 0),
 ('A Quiet Place (2018)', 0),
 ('A Silent Voice (2016)', 0),
 ('A Story of Children and Film (2013)', 0),
 ('A Street Cat Named Bob (2016)', 0),
 ('A Very Murray Christmas (2015)', 0),
 ('A Walk in the Woods (2015)', 0),
 ('A Wrinkle in Time (2018)', 0),
 ('A-Team, The (2010)', 0),
 ('A.I. Artificial Intelligence (2001)', 2.862),
 ('ABCs of Death, The (2012)', 0),
 ('ARQ (2016)', 0),
 ('AVP: Alien vs. Predator (2004)', 0),
 ('AVPR: Aliens vs. Predator - Requiem (2007)', 0),
 ('Abandoned, The (2006)', 0),
 ('Abbott and Costello Meet Frankenstein (1948)', 5.0),
 ('Abduction (2011)', 0),
 ('Abominable Dr. Phibes, The (1971)', 0),
 ('Abominable Snowman, The (Abominable Snowman of the Himalayas, The) (1957)',
  0),
 ('About Adam (2000)', 0),
 ('About Last Night (2014)', 0),
 ('About Last Night... (1986)', 0),
 ('About Schmidt (2002)', 0),
 ('About Time (2013)', 0),
 ('About a Boy (2002)', 0),
 ('Above the Law (1988)', 2.0),
 ('Above the Rim (1994)', 0),
 ('Abraham Lincoln: Vampire Hunter (2012)', 0),
 ('Absence of Malice (1981)', 0),
 ('Absent-Minded Professor, The (1961)', 0),
 ('Absentia (2011)', 0),
 ('Absolute Power (1997)', 4.0),
 ('Absolutely Anything (2015)', 0),
 ('Abyss, The (1989)', 3.986),
 ('Accepted (2006)', 0),
 ('Accidental Spy, The (Dak miu mai shing) (2001)', 0),
 ('Accidental Tourist, The (1988)', 0),
 ('Accused, The (1988)', 0),
 ('Ace Ventura: When Nature Calls (1995)', 2.95),
 ('Ace in the Hole (Big Carnival, The) (1951)', 0),
 ('Aces: Iron Eagle III (1992)', 0),
 ('Acid House, The (1998)', 0),
 ('Across the Hall (2009)', 0),
 ('Across the Universe (2007)', 0),
 ('Act of Killing, The (2012)', 0),
 ('Act of Valor (2012)', 0),
 ('Action Jackson (1988)', 0),
 ("Adam and Eve (National Lampoon's Adam & Eve) (2005)", 0),
 ("Adam's Apples (Adams æbler) (2005)", 0),
 ("Adam's Rib (1949)", 0),
 ('Adanggaman (2000)', 0),
 ('Adaptation (2002)', 0),
 ('Addams Family Reunion (1998)', 0),
 ('Addams Family, The (1991)', 3.25),
 ('Addicted to Love (1997)', 3.0),
 ('Addiction, The (1995)', 0),
 ('Adjustment Bureau, The (2011)', 0),
 ('Admission (2013)', 0),
 ('Adventureland (2009)', 0),
 ('Adventures Of Sherlock Holmes And Dr. Watson: The Twentieth Century Approaches (1986)',
  0),
 ('Adventures in Babysitting (1987)', 4.0),
 ('Adventures in Plymptoons! (2011)', 0),
 ('Adventures of Baron Munchausen, The (1988)', 4.0),
 ('Adventures of Buckaroo Banzai Across the 8th Dimension, The (1984)', 3.464),
 ('Adventures of Elmo in Grouchland, The (1999)', 0),
 ('Adventures of Ford Fairlane, The (1990)', 0),
 ('Adventures of Huck Finn, The (1993)', 0),
 ('Adventures of Ichabod and Mr. Toad, The (1949)', 0),
 ('Adventures of Mary-Kate and Ashley, The: The Case of the Christmas Caper (1995)',
  0),
 ('Adventures of Milo and Otis, The (Koneko monogatari) (1986)', 0),
 ('Adventures of Mowgli: The Kidnapping (1968)', 0),
 ('Adventures of Pinocchio, The (1996)', 0),
 ('Adventures of Pluto Nash, The (2002)', 0),
 ('Adventures of Priscilla, Queen of the Desert, The (1994)', 0),
 ('Adventures of Robin Hood, The (1938)', 4.0),
 ('Adventures of Rocky and Bullwinkle, The (2000)', 0),
 ('Adventures of Sebastian Cole, The (1998)', 0),
 ('Adventures of Sharkboy and Lavagirl 3-D, The (2005)', 0),
 ('Adventures of Tintin, The (2011)', 0),
 ('Advise and Consent (1962)', 0),
 ('Aelita: The Queen of Mars (Aelita) (1924)', 0),
 ('Aeon Flux (2005)', 0),
 ('Affair of Love, An (Liaison pornographique, Une) (1999)', 5.0),
 ('Affair of the Necklace, The (2001)', 0),
 ('Affair to Remember, An (1957)', 0),
 ('Afflicted (2013)', 0),
 ('Affliction (1997)', 0),
 ('Afonya (1975)', 0),
 ('Africa: The Serengeti (1994)', 0),
 ('African Cats (2011)', 0),
 ('African Queen, The (1951)', 4.0),
 ('Afro Samurai (2007)', 0),
 ('Afro Samurai: Resurrection (2009)', 0),
 ('After Earth (2013)', 0),
 ('After Hours (1985)', 0),
 ('After Life (Wandafuru raifu) (1998)', 0),
 ('After the Fox (Caccia alla volpe) (1966)', 0),
 ('After the Sunset (2004)', 0),
 ('After the Thin Man (1936)', 0),
 ('After the Wedding (Efter brylluppet) (2006)', 0),
 ('Afterglow (1997)', 0),
 ('Against All Odds (1984)', 0),
 ('Against the Ropes (2004)', 0),
 ('Age of Innocence, The (1993)', 0),
 ('Agent Cody Banks (2003)', 0),
 ('Agent Cody Banks 2: Destination London (2004)', 0),
 ('Agnes of God (1985)', 0),
 ('Agony and the Ecstasy, The (1965)', 0),
 ('Agora (2009)', 0),
 ('Aguirre: The Wrath of God (Aguirre, der Zorn Gottes) (1972)', 0),
 ('Aileen: Life and Death of a Serial Killer (2003)', 0),
 ('Air America (1990)', 5.0),
 ('Air Bud (1997)', 0),
 ('Air Bud: Golden Receiver (1998)', 0),
 ('Air Force One (1997)', 3.483),
 ('Air I Breathe, The (2007)', 0),
 ('Air Up There, The (1994)', 2.0),
 ('Airborne (1993)', 0),
 ('Airheads (1994)', 2.0),
 ('Airplane II: The Sequel (1982)', 4.0),
 ('Airplane! (1980)', 4.533),
 ("Airport '77 (1977)", 0),
 ('Airport (1970)', 0),
 ('Airport 1975 (1974)', 0),
 ('Akeelah and the Bee (2006)', 0),
 ('Akira (1988)', 3.464),
 ("Akira Kurosawa's Dreams (Dreams) (1990)", 0),
 ('Aladdin and the King of Thieves (1996)', 0),
 ('Alamo, The (1960)', 0),
 ('Alan Partridge: Alpha Papa (2013)', 0),
 ('Alaska (1996)', 0),
 ('Alaska: Spirit of the Wild (1997)', 0),
 ('Albatross (2011)', 0),
 ('Albino Alligator (1996)', 0),
 ('Alesha Popovich and Tugarin the Dragon (2004)', 0),
 ('Alex Cross (2012)', 0),
 ('Alex and Emma (2003)', 0),
 ('Alexander (2004)', 0),
 ('Alexander Nevsky (Aleksandr Nevskiy) (1938)', 0),
 ('Alfie (1966)', 0),
 ('Alfie (2004)', 0),
 ('Ali (2001)', 0),
 ('Ali G Indahouse (2002)', 0),
 ('Ali Wong: Baby Cobra (2016)', 0),
 ('Ali: Fear Eats the Soul (Angst essen Seele auf) (1974)', 0),
 ('Alias Betty (Betty Fisher et autres histoires) (2001)', 0),
 ('Alice (1990)', 0),
 ('Alice (2009)', 0),
 ('Alice (Neco z Alenky) (1988)', 0),
 ('Alice Adams (1935)', 0),
 ("Alice Doesn't Live Here Anymore (1974)", 0),
 ('Alice Through the Looking Glass (2016)', 0),
 ('Alice in Wonderland (1933)', 0),
 ('Alice in Wonderland (1951)', 4.0),
 ('Alice in Wonderland (2010)', 0),
 ('Alien (1979)', 4.315),
 ('Alien Contamination (1980)', 0),
 ('Alien Nation (1988)', 0),
 ('Alien from L.A. (1988)', 0),
 ('Alien: Covenant (2017)', 0),
 ('Alien: Resurrection (1997)', 2.64),
 ('Aliens (1986)', 4.243),
 ('Alien³ (a.k.a. Alien 3) (1992)', 3.328),
 ('Alive (1993)', 4.0),
 ('All About Eve (1950)', 4.0),
 ('All About Lily Chou-Chou (Riri Shushu no subete) (2001)', 0),
 ('All About My Mother (Todo sobre mi madre) (1999)', 3.0),
 ('All About the Benjamins (2002)', 0),
 ('All Dogs Christmas Carol, An (1998)', 0),
 ('All Dogs Go to Heaven (1989)', 0),
 ('All Dogs Go to Heaven 2 (1996)', 0),
 ('All Good Things (2010)', 0),
 ('All Is Lost (2013)', 0),
 ('All Over the Guy (2001)', 0),
 ('All Quiet on the Western Front (1930)', 0),
 ('All Roads Lead to Rome (2016)', 0),
 ('All That Heaven Allows (1955)', 0),
 ('All That Jazz (1979)', 0),
 ('All This, and Heaven Too (1940)', 0),
 ('All Watched Over by Machines of Loving Grace (2011)', 0),
 ('All Yours (2016)', 0),
 ('All is Bright (2013)', 0),
 ('All of Me (1984)', 0),
 ('All or Nothing (2002)', 0),
 ('All the Boys Love Mandy Lane (2006)', 0),
 ("All the King's Men (1949)", 0),
 ("All the King's Men (2006)", 0),
 ("All the President's Men (1976)", 0),
 ('All the Pretty Horses (2000)', 0),
 ('All the Real Girls (2003)', 0),
 ('All the Right Moves (1983)', 0),
 ('All the Vermeers in New York (1990)', 0),
 ('All-Star Superman (2011)', 0),
 ('Allan Quatermain and the Lost City of Gold (1987)', 0),
 ('Allegro non troppo (1977)', 0),
 ('Alles Inklusive (2014)', 0),
 ('Alligator (1980)', 0),
 ('Allnighter, The (1987)', 0),
 ('Almost Famous (2000)', 2.515),
 ('Almost Heroes (1998)', 0),
 ('Almost an Angel (1990)', 0),
 ('Aloha (2015)', 0),
 ('Alone in the Dark (2005)', 0),
 ('Alone in the Dark II (2008)', 0),
 ('Along Came Polly (2004)', 0),
 ('Along Came a Spider (2001)', 0),
 ('Alpha (2018)', 0),
 ('Alpha Dog (2007)', 0),
 ('Alpha and Omega 3: The Great Wolf Games (2014)', 0),
 ('Alphaville (Alphaville, une étrange aventure de Lemmy Caution) (1965)', 0),
 ('Altered (2006)', 0),
 ('Altered States (1980)', 0),
 ('Alvarez Kelly (1966)', 0),
 ('Alvin and the Chipmunks (2007)', 0),
 ('Alvin and the Chipmunks: Chipwrecked (2011)', 0),
 ('Alvin and the Chipmunks: The Squeakquel (2009)', 0),
 ('Always (1989)', 5.0),
 ('Always Watching: A Marble Hornets Story (2015)', 0),
 ('Amadeus (1984)', 3.579),
 ('Amanda Knox (2016)', 0),
 ('Amarcord (1973)', 0),
 ('Amateur (1994)', 0),
 ('Amazing Grace (2006)', 0),
 ('Amazing Grace and Chuck (1987)', 0),
 ('Amazing Panda Adventure, The (1995)', 0),
 ('Amazing Spider-Man, The (2012)', 3.5),
 ('Amazing Transparent Man, The (1960)', 0),
 ('Amazon Women on the Moon (1987)', 0),
 ("Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)", 5.0),
 ('Amen. (2002)', 0),
 ('Amer (2009)', 0),
 ("America's Sweethearts (2001)", 0),
 ('American Astronaut, The (2001)', 0),
 ('American Beauty (1999)', 4.399),
 ('American Buffalo (1996)', 0),
 ('American Carol, An (2008)', 0),
 ('American Dreamz (2006)', 0),
 ('American Drug War: The Last White Hope (2007)', 0),
 ('American Fable (2017)', 0),
 ('American Flyers (1985)', 0),
 ('American Friend, The (Amerikanische Freund, Der) (1977)', 0),
 ('American Gangster (2007)', 4.5),
 ('American Gigolo (1980)', 0),
 ('American Graffiti (1973)', 3.475),
 ('American Grindhouse (2010)', 0),
 ('American Hardcore (2006)', 0),
 ('American Haunting, An (2005)', 0),
 ('American Heist (2015)', 0),
 ('American History X (1998)', 4.843),
 ('American Hustle (2013)', 0),
 ('American Made (2017)', 0),
 ('American Me (1992)', 0),
 ('American Movie (1999)', 0),
 ('American Ninja (1985)', 2.0),
 ('American Outlaws (2001)', 0),
 ('American Pie (1999)', 3.845),
 ('American Pie 2 (2001)', 3.5),
 ('American Pie Presents Beta House (American Pie 6: Beta House) (2007)', 0),
 ('American Pie Presents The Naked Mile (American Pie 5: The Naked Mile) (2006)',
  0),
 ('American Pie Presents: Band Camp (American Pie 4: Band Camp) (2005)', 0),
 ('American Pie Presents: The Book of Love (American Pie 7: The Book of Love) (2009)',
  0),
 ('American Pop (1981)', 0),
 ('American President, The (1995)', 3.837),
 ('American Psycho (2000)', 4.0),
 ('American Psycho II: All American Girl (2002)', 0),
 ('American Reunion (American Pie 4) (2012)', 0),
 ('American Sniper (2014)', 0),
 ('American Splendor (2003)', 0),
 ('American Tail, An (1986)', 4.0),
 ('American Tail: Fievel Goes West, An (1991)', 0),
 ('American Ultra (2015)', 0),
 ('American Wedding (American Pie 3) (2003)', 0),
 ('American Werewolf in London, An (1981)', 2.5),
 ('American Werewolf in Paris, An (1997)', 0),
 ('American in Paris, An (1951)', 0),
 ('American, The (2010)', 0),
 ('American: The Bill Hicks Story (2009)', 0),
 ('Americanization of Emily, The (1964)', 0),
 ('Americathon (1979)', 0),
 ('Amistad (1997)', 0),
 ("Amityville 1992: It's About Time (1992)", 0),
 ('Amityville 3-D (1983)', 0),
 ('Amityville Curse, The (1990)', 0),
 ('Amityville Horror, The (1979)', 0),
 ('Amityville Horror, The (2005)', 0),
 ('Amityville II: The Possession (1982)', 0),
 ('Amityville: A New Generation (1993)', 0),
 ('Amityville: Dollhouse (1996)', 0),
 ("Amores Perros (Love's a Bitch) (2000)", 0),
 ('Amos & Andrew (1993)', 0),
 ('Amy (2015)', 0),
 ("Amy's O (a.k.a. Amy's Orgasm) (2001)", 0),
 ('An Amazing Couple (2002)', 0),
 ('Anacleto: Agente secreto (2015)', 0),
 ('Anaconda (1997)', 1.484),
 ('Anaconda: The Offspring (2008)', 0),
 ('Anacondas: The Hunt for the Blood Orchid (2004)', 0),
 ('Analyze That (2002)', 0),
 ('Analyze This (1999)', 4.0),
 ('Anarchist Cookbook, The (2002)', 0),
 ('Anastasia (1956)', 0),
 ('Anastasia (1997)', 3.0),
 ('Anatomy of a Murder (1959)', 4.0),
 ('Anchorman 2: The Legend Continues (2013)', 0),
 ('Anchorman: The Legend of Ron Burgundy (2004)', 0),
 ('Anchors Aweigh (1945)', 0),
 ('And God Created Woman (Et Dieu... créa la femme) (1956)', 0),
 ('And Now... Ladies and Gentlemen... (2002)', 0),
 ('And So It Goes (2014)', 0),
 ('And Starring Pancho Villa as Himself (2003)', 0),
 ('And Then There Were None (1945)', 0),
 ('And Your Mother Too (Y tu mamá también) (2001)', 0),
 ('And the Band Played On (1993)', 0),
 ('And the Ship Sails On (E la nave va) (1983)', 0),
 ('Andalusian Dog, An (Chien andalou, Un) (1929)', 0),
 ('Andre (1994)', 0),
 ('Andrei Rublev (Andrey Rublyov) (1969)', 0),
 ('Andrew Dice Clay: Dice Rules (1991)', 0),
 ('Android (1982)', 0),
 ('Andromeda Strain, The (1971)', 0),
 ('Angel Baby (1995)', 0),
 ('Angel Eyes (2001)', 0),
 ('Angel Heart (1987)', 0),
 ('Angel at My Table, An (1990)', 0),
 ("Angel's Egg (Tenshi no tamago) (1985)", 0),
 ('Angel-A (2005)', 0),
 ("Angela's Ashes (1999)", 0),
 ('Angels & Demons (2009)', 0),
 ('Angels and Insects (1995)', 0),
 ('Angels in the Outfield (1994)', 2.0),
 ('Angels with Dirty Faces (1938)', 0),
 ("Angels' Share, The (2012)", 0),
 ('Anger Management (2003)', 0),
 ('Angie (1994)', 0),
 ('Angriest Man in Brooklyn, The (2014)', 0),
 ('Angry Red Planet, The (1959)', 0),
 ('Angst  (1983)', 0),
 ('Angus (1995)', 0),
 ('Angus, Thongs and Perfect Snogging (2008)', 0),
 ('Animal Crackers (1930)', 0),
 ('Animal Factory (2000)', 0),
 ('Animal Farm (1954)', 0),
 ('Animal House (1978)', 3.0),
 ('Animal, The (2001)', 0),
 ('Animals are Beautiful People (1974)', 0),
 ('Animatrix, The (2003)', 0),
 ('Anna Christie (1930)', 0),
 ('Anna Karenina (1935)', 0),
 ('Anna Karenina (1997)', 0),
 ('Anna Karenina (2012)', 0),
 ('Anna and the King (1999)', 0),
 ('Annabelle (2014)', 0),
 ('Annabelle: Creation (2017)', 0),
 ('Annapolis (2006)', 0),
 ('Anne Frank Remembered (1995)', 0),
 ('Anne of Green Gables (1985)', 0),
 ('Anne of Green Gables: The Sequel (a.k.a. Anne of Avonlea) (1987)', 0),
 ('Anne of the Thousand Days (1969)', 0),
 ('Annie (1982)', 0),
 ('Annie Get Your Gun (1950)', 0),
 ('Annie Hall (1977)', 4.655),
 ('Annihilation (2018)', 0),
 ('Anniversary Party, The (2001)', 0),
 ('Anomalisa (2015)', 0),
 ('Another 48 Hrs. (1990)', 0),
 ('Another Cinderella Story (2008)', 0),
 ('Another Earth (2011)', 0),
 ('Another Gay Movie (2006)', 0),
 ('Another Stakeout (1993)', 2.0),

In [52]:
def user_based_cosine_similarity_movie_recommendation(ratings_movies_pivot, active_user, similar_users, k_top):
    '''The function gets k-top movie recommadations for a given user based on cosine similarity matrix
    '''
    #create user based ratings movies table
    user_based = ratings_movies_pivot.T
    
    #assign to 0 for unrated movies 
    user_based_imputed = user_based.fillna(value=0)
      
    #apply cosine similarity to create a similarity matrix
    user_based_similarity_matrix = pd.DataFrame(cosine_similarity(user_based_imputed.T))
    
    #create a list of unseen movies for active user
    unseen_mask = user_based[active_user].isna()
    unseen_movies = user_based[unseen_mask].index
    
    #create a list of top n similar users
    x = similar_users + 1
    similar_top_n_users = user_based_similarity_matrix[active_user].sort_values(ascending=False).index[1:x]
   
    #create ratings for the active user
    #predict the rating based on the (weighted) average ratings of the other user
    #sum(ratings*similarity)/sum(similarities)

    pred_ratings_list = []

    for movie in unseen_movies:
        others_user = user_based.columns[~user_based.loc[movie].isna()]
        others_user = set(others_user)
        num = 0
        den = 0
        pred_ratings = 0
        for user in set(similar_top_n_users).intersection(others_user):
            ratings = user_based[user][movie]    
            sim = user_based_similarity_matrix[active_user][user]
              
            num = num + (ratings*sim)
            den = den + sim + 0.000001
        
            pred_ratings = round(num/den,3)
        
        
        pred_ratings_list.append((movie, pred_ratings))
        
        
    #look at the rating and choose n of them
    recommend_list = sorted(pred_ratings_list, key=lambda tup: tup[1], reverse=True)[0:k_top]
    
  
    
    #return recommend_list

In [53]:
def cosim_recommender(new_user_query, k_top=5):
    '''The function gets k-top movie recommadations for a given user based on cosine similarity matrix
    '''
   
    #get new_user-item dataframe with the previous dictionary
    new_user_ratings = pd.DataFrame(
                                    data=new_user_query,
                                    columns=movie_list, 
                                    index=['new_user']
                                   )

    #add new user to user_based dataframe
    ratings_movies_pivot_2 = ratings_movies_pivot.append(new_user_ratings, ignore_index=False)

    #transpose the pivot table
    user_based = ratings_movies_pivot_2.T

    #assign to 0 for unrated movies  
    user_based_imputed = user_based.fillna(value=0)

    #apply cosine similarity to create a similarity matrix
    user_based_similarity_matrix = pd.DataFrame(cosine_similarity(user_based_imputed.T))
      
    #create a list of unseen movies for new user
    unseen_mask = user_based['new_user'].isna()
    unseen_movies = user_based[unseen_mask].index
    
    #create a list of top n=20 similar users
    similar_top_n_users = user_based_similarity_matrix[610].sort_values(ascending=False).index[1:21]
   
    #create ratings for the active user
    #predict the rating based on the (weighted) average ratings of the other user
    #sum(ratings*similarity)/sum(similarities)

    pred_ratings_list = []

    for movie in unseen_movies:
        others_user = user_based.columns[~user_based.loc[movie].isna()]
        others_user = set(others_user)
        num = 0
        den = 0
        pred_ratings = 0
        for user in set(similar_top_n_users).intersection(others_user):
            rating = user_based[user][movie]    
            sim = user_based_similarity_matrix[610][user]
              
            num = num + (rating*sim)
            den = den + sim + 0.000001
        
            pred_ratings = round(num/den,3)
        
        
        pred_ratings_list.append((movie, pred_ratings))
        pred_ratings = 0
        
        
    #look at the rating and choose n of them
    recommend_list = sorted(pred_ratings_list, key=lambda tup: tup[1], reverse=True)[0:k_top]
    
     #Create a loop to print the first k movies from the sorted movies list
    j=0
    print(f'The {k_top} most recommended movies are:\n')
    for item in recommend_list:
        print(j+1,item[0])
        j = j+1
        if j > k_top-1:
            break
        
   # return recommend_list

In [54]:
cosim_recommender(new_user_query, k_top=5)

The 5 most recommended movies are:

1 101 Dalmatians (1996)
2 Adventures of Buckaroo Banzai Across the 8th Dimension, The (1984)
3 American Gangster (2007)
4 Amistad (1997)
5 Anne of Green Gables (1985)

# Recommedation functions

In [55]:
movie_list = ratings_movies_pivot.columns.to_list()

In [56]:
#save the movie list 
binary_2 = pickle.dumps(movie_list)
file = open('data/movie_list.bin', mode='wb')
file.write(binary_2)
file.close()

In [57]:
new_user_query = { 'Project X (1968)':2,
 'Munich (2005)':3,
 'Remember Me (2010)':4,
 'What Happened, Miss Simone? (2015)':3,
 'Triumph of the Spirit (1989)':2}

In [58]:
def nmf_recommender(new_user_query, k_top=5):
    '''The function gets k-top movie recommadations for a given user matrix based on nmf model
    '''
    #get new_user-item dataframe with the previous dictionary
    new_user_ratings = pd.DataFrame(
                                    data=new_user_query,
                                    columns=movie_list, 
                                    index=['new_user']
                                   )
    #fill the missing value
    new_user_ratings_imputed = pd.DataFrame(
                                            data=knn_imputer.transform(new_user_ratings), 
                                            columns=movie_list, 
                                            index=['new_user']
                                           )
    #load the pickled model
    file = open('model/nmf_model.bin', mode='rb')
    binary = file.read()
    file.close()
    nmf_model = pickle.loads(binary)
    
    #create movie feature matrix Q
    Q_matrix = nmf_model.components_
    
    
    #create user feature matrix P
    P_new_user_matrix = nmf_model.transform(new_user_ratings_imputed)
    
    ##get the ratings reconstructed dataframe
    new_user_ratings_rec = pd.DataFrame(data=np.dot(P_new_user_matrix,Q_matrix),
                                    columns=new_user_ratings.columns,
                                    index=new_user_ratings.index.to_list()
                                       )
    #exclude the rated movies
    mask = new_user_ratings.T.isna()
    new_user_ratings_rec_2 = new_user_ratings_rec.T[mask].T
   
    #get top k rated movies
    recommend_list = new_user_ratings_rec_2.sort_values(new_user_ratings.index.to_list(), axis=1, ascending=False).T.index.to_list()[:k_top]
        
        
    return recommend_list

In [59]:
nmf_recommender(new_user_query, k_top=5)

["'Salem's Lot (2004)",
 'Connections (1978)',
 'Palindromes (2004)',
 'Meantime (1984)',
 'Mephisto (1981)']

In [60]:
def cosim_recommender(new_user_query, k_top=5):
    '''The function gets k-top movie recommadations for a given user based on cosine similarity matrix
    '''
   
    #get new_user-item dataframe with the previous dictionary
    new_user_ratings = pd.DataFrame(
                                    data=new_user_query,
                                    columns=movie_list, 
                                    index=['new_user']
                                   )

    #add new user to user_based dataframe
    ratings_movies_pivot_2 = ratings_movies_pivot.append(new_user_ratings, ignore_index=False)

    #transpose the pivot table
    user_based = ratings_movies_pivot_2.T

    #assign to 0 for unrated movies  
    user_based_imputed = user_based.fillna(value=0)

    #apply cosine similarity to create a similarity matrix
    user_based_similarity_matrix = pd.DataFrame(cosine_similarity(user_based_imputed.T))
      
    #create a list of unseen movies for new user
    unseen_mask = user_based['new_user'].isna()
    unseen_movies = user_based[unseen_mask].index
    
    #create a list of top n=20 similar users
    similar_top_n_users = user_based_similarity_matrix[610].sort_values(ascending=False).index[1:21]
   
    #create ratings for the active user
    #predict the rating based on the (weighted) average ratings of the other user
    #sum(ratings*similarity)/sum(similarities)

    pred_ratings_list = []

    for movie in unseen_movies:
        others_user = user_based.columns[~user_based.loc[movie].isna()]
        others_user = set(others_user)
        num = 0
        den = 0
        pred_ratings = 0
        for user in set(similar_top_n_users).intersection(others_user):
            rating = user_based[user][movie]    
            sim = user_based_similarity_matrix[610][user]
              
            num = num + (rating*sim)
            den = den + sim + 0.000001
        
            pred_ratings = round(num/den,3)
        
        
        pred_ratings_list.append((movie, pred_ratings))
        pred_ratings = 0
        
        
    #look at the rating and choose n of them
    recommend_list = sorted(pred_ratings_list, key=lambda tup: tup[1], reverse=True)[0:k_top]
        
    return recommend_list

In [61]:
cosim_recommender(new_user_query, k_top=5)

[('12 Angry Men (1957)', 5.0),
 ('3:10 to Yuma (2007)', 5.0),
 ('84 Charing Cross Road (1987)', 5.0),
 ('A Detective Story (2003)', 5.0),
 ('Adaptation (2002)', 5.0)]

In [62]:
def most_popular_movie_recommender(new_user_query,k_top=5):
    '''The function gets k-top most popular movie recommadations 
    '''
    #get new_user-item dataframe with the previous dictionary
    new_user_ratings = pd.DataFrame(
                                    data=new_user_query,
                                    columns=movie_list, 
                                    index=['new_user']
                                   )

    #add new user to user_based dataframe
    ratings_movies_pivot_2 = ratings_movies_pivot.append(new_user_ratings, ignore_index=False)

    #transpose the pivot table
    user_based = ratings_movies_pivot_2.T

    #create a list of unseen movies for new user
    unseen_mask = user_based['new_user'].isna()
    unseen_movies = user_based[unseen_mask].index

    # filter out movies that have been watched by less than 100 users
    ratings = ratings_movies.groupby('title')[['rating']].count()
    ratings = ratings[ratings['rating'] >=100]
    movies_more_than_100 = ratings.index.to_list()
    
    #create a best movie list which have not seen before and watched by more than 100 users
    best_movie_list = []
    for i in movies_more_than_100:
        if i in unseen_movies:
            best_movie_list.append(i)
        else:
            continue
            
    ratings_2 = ratings_movies.set_index('title').loc[best_movie_list,:]
    
    # 2. scoring
    # calculate the average rating and wachted by users for each movie
    ratings_3 = ratings_2.reset_index()
    # merge them to a new dataframe
    ratings_4 = pd.DataFrame(ratings_3.groupby('title')[['rating']].mean().round(2))
    ratings_4['count_rating'] = ratings_3.groupby('title')[['rating']].count()
    ratings_4.rename(columns={'rating':'mean_rating'}, inplace=True)
    
    # 3. ranking
    recommend_list = ratings_4.sort_values(['mean_rating','count_rating'], ascending=False).index.to_list()[:5]
   
    return recommend_list

In [63]:
most_popular_movie_recommender(new_user_query,k_top=5)

['Shawshank Redemption, The (1994)',
 'Godfather, The (1972)',
 'Fight Club (1999)',
 'Godfather: Part II, The (1974)',
 'Goodfellas (1990)']

In [64]:
def random_recommender(new_user_query,k_top=5):
    '''The function gets k-top random movie recommadations
    '''
    #get new_user-item dataframe with the previous dictionary
    new_user_ratings = pd.DataFrame(
                                    data=new_user_query,
                                    columns=movie_list, 
                                    index=['new_user']
                                   )

    #add new user to user_based dataframe
    ratings_movies_pivot_2 = ratings_movies_pivot.append(new_user_ratings, ignore_index=False)


    #transpose the pivot table
    user_based = ratings_movies_pivot_2.T

    #create a list of unseen movies for new user
    unseen_mask = user_based['new_user'].isna()
    unseen_movies = user_based[unseen_mask].index

    recommend_list = []
    
    for i in range(5):

        movie = random.choice(unseen_movies)
        recommend_list.append(movie)

    return recommend_list

In [65]:
random_recommender(new_user_query,k_top=5)

['Scanner Darkly, A (2006)',
 'Scary Movie (2000)',
 'Herbie Goes Bananas (1980)',
 'RocketMan (a.k.a. Rocket Man) (1997)',
 'Diamonds Are Forever (1971)']